/***************/
/* SCSS Mixins */
/***************/
/*************/
/* SCSS Vars */
/*************/
/* ~56px*/
/* ~46px*/
/* ~38px*/
/* ~32px*/
/* base-font-size */
/* ~20px*/
/* ~15px*/
/*$clr-grey: rgb(234, 226, 212);*/
/*$clr-white: rgb(244, 239, 228);*/
/*******************/
/* Generic styling */
/*******************/
h1, h2, h3, h4, h5, h6, p, li, a {
  font-family: 'Roboto Condensed', sans-serif;
  color: #444; }

body {
  font-weight: regular;
  overflow-x: hidden;
  background-color: #ffffff; }

h1 {
  font-size: 55.9px; }

h2 {
  font-size: 46.02px; }

h3 {
  font-size: 37.96px; }

p {
  font-size: 20.02px; }

a {
  color: #295677;
  font-size: 20.02px; }
  a:hover {
    color: #F5A623;
    border: 0; }

section {
  padding-top: 100px;
  margin-bottom: 20px; }

.section-heading {
  padding-bottom: 30px;
  text-transform: uppercase;
  background-color: #ffffff; }

.section-heading h1 {
  font-weight: 600; }

.icon {
  color: #444; }

.content-colored {
  background-color: #ededed; }

/**********/
/* Header */
/**********/
header .navbar-container {
  padding: 0 5px; }
header nav.navbar {
  background-color: rgba(255, 255, 255, 0);
  width: 100%; }
  header nav.navbar .navbar-header a img {
    margin: 10px 20px 10px 20px;
    height: auto;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    -ms-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out; }
  header nav.navbar.affix {
    top: 0;
    background-color: rgba(255, 255, 255, 0.90196);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    header nav.navbar.affix .navbar-header a img {
      width: 60px; }
    header nav.navbar.affix #site-menu li {
      margin: 10px 5px 5px 5px;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
  header nav.navbar.affix-top .navbar-header a img {
    width: 100px; }
  header nav.navbar.affix-top #site-menu li {
    margin: 25px 5px 5px 5px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  header nav.navbar.affix-bottom {
    position: absolute; }
  header nav.navbar #site-menu {
    float: right; }
    header nav.navbar #site-menu li {
      font-size: 20.02px;
      margin: 10px 5px 5px 5px; }
header nav li a:after {
  display: block;
  position: absolute;
  bottom: 6px;
  width: 0;
  height: 2px;
  content: "";
  left: 0;
  background: #295677;
  -webkit-transition: all 0.2s ;
  -moz-transition: all 0.2s ;
  -o-transition: all 0.2s ;
  -ms-transition: all 0.2s ;
  transition: all 0.2s ; }
header nav li a:hover {
  background: none; }
header nav li a:hover:after,
header nav li.active a:after {
  width: 100%; }

/********/
/* Home */
/********/
#home {
  padding-top: 0;
  display: block;
  text-align: center;
  height: 100vh;
  background: url(../assets/img/doc_tablet.jpg) no-repeat center center fixed;
  background-size: cover;
  background-attachment: scroll;
  z-index: 1;
  position: relative; }
  #home:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(255, 255, 255, 0.4); }
  #home p {
    font-size: 26px; }
  #home .btn.btn-raised.btn-default {
    margin-top: 50px;
    color: white;
    background-color: #295677; }
  #home .centered {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); }

/**********/
/* About  */
/**********/
#about .text-card {
  padding: 50px 30px;
  padding: 30px 30px 30px 30px; }
  #about .text-card h1 {
    text-transform: uppercase; }
#about .img-card {
  display: block;
  text-align: center;
  min-height: 400px;
  max-height: 100%;
  z-index: 1;
  position: relative; }
#about .img-mission {
  background: url(../assets/img/viewer-trans.png) no-repeat center center fixed;
  background-size: cover;
  background-attachment: scroll;
  min-height: 500px; }
#about .img-spec {
  background: url(../assets/img/completion_sq.png) no-repeat center center fixed;
  background-size: cover;
  background-attachment: scroll;
  min-height: 500px; }
#about .img-collab {
  background: url(../assets/img/collab-stock-2.jpg) no-repeat center center fixed;
  background-size: cover;
  background-attachment: scroll; }

/*********/
/* Spec  */
/*********/
#spec p {
  margin-bottom: 10px;
  padding-top: 10px; }
#spec h3 {
  margin: 50px 40px 0 40px; }
#spec .pane {
  padding: 50px 5px 10px 5px;
  margin-top: 30px;
  text-align: center;
  display: inline-block;
  height: 100%; }
  #spec .pane p {
    text-align: left;
    padding: 0 10px; }
  #spec .pane h2 {
    padding-top: 0;
    font-size: 37.96px; }
  #spec .pane.pi img {
    height: 70px;
    margin-bottom: 15px; }
  #spec .pane.ec h2 {
    padding-left: 30px;
    padding-right: 30px; }
  #spec .pane.ec img {
    height: 85px; }
  #spec .pane.pc h2 {
    padding-left: 50px;
    padding-right: 50px; }
  #spec .pane.pc img {
    height: 85px; }
  #spec .pane.sv {
    padding: 0;
    margin-top: 0; }
#spec .btn.btn-raised.btn-default {
  margin-top: 50px;
  color: white;
  background-color: #295677; }

/*********/
/* Evid  */
/*********/
#evid h3 {
  margin: 0 100px; }

/***********/
/* Contact */
/***********/
#contact p, #contact h6 {
  margin: 20px 0 10px 0; }
#contact .icons {
  margin: 40px 30px; }

/**********/
/* Footer */
/**********/
footer {
  background-color: #295677; }
  footer p.copyright {
    padding-top: 75px;
    margin: 0 20px 20px 20px;
    font-size: 14.82px;
    color: #ffffff;
    text-align: left;
    float: left; }
  footer ul {
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 15px; }
  footer a {
    padding-left: 15px;
    font-size: 14.82px;
    color: #ffffff; }

/**********************/
/* Responsive Styling */
/**********************/
@media (max-width: 992px) {
  /* Footer */
  footer p.copyright {
    text-align: center;
    float: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto; }

  #about h1 {
    margin: 0 60px; }

  #spec .panel-body {
    padding-left: 0;
    padding-right: 0; }
  #spec .pane.ec h2, #spec .pane.pc h2 {
    padding: 0 0; } }
@media (max-width: 768px) {
  /* Generic */
  .img-card {
    height: 100%;
    min-height: 400px; }

  header nav.navbar {
    background-color: rgba(255, 255, 255, 0.90196);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    header nav.navbar .navbar-header a img {
      margin-left: 140px;
      /*For centering */
      vertical-align: middle;
      position: relative;
      display: block;
      margin-left: auto;
      margin-right: auto;
      left: 20px; }
    header nav.navbar.affix .navbar-header a img {
      width: 80px; }

  #home > .centered {
    position: relative;
    top: 150px;
    left: 0;
    transform: none; }

  #about h1 {
    margin: 0 5px; }

  #spec .panel-body {
    padding: 15px; }
  #spec .pane.sv {
    margin-top: 30px; }

  #evid h3 {
    margin: 50px; }

  /* Footer */ }
@media (max-width: 480px) {
  h1 {
    font-size: 46.02px; }

  h2 {
    font-size: 37.96px; }

  h3 {
    font-size: 31.98px; }

  p {
    font-size: 20.02px; }

  header nav.navbar .navbar-header a img {
    /*For centering */
    vertical-align: middle;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 20px; }

  #evid h3 {
    margin: 0 20px; } }

/*# sourceMappingURL=styles.css.map */
