---
layout: default
title: faq
---
<a id="top"></a>
<section id="faq">
  <div class="container">
    <div class="section-heading">
      <h1 class="title">Frequently Asked Questions</h1>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div id="side_nav" class="side-nav" data-spy="affix">
        <h2 class="side-nav-title">FAQs</h2>
        {% assign sorted_faq = site.faq_questions | sort: "num" %} 
        <ul class="nav faq-nav" id="faq_nav">
          {% for q in sorted_faq %}
            <li><a href="#faq{{ q.num }}">{{ q.title }}</a></li>
          {% endfor %}
        </ul>
        </div>
      </div> 
      <div class="col-sm-8">
        <hr class="hidden-md-up">
        <ul class="faqs">
          {% for q in sorted_faq %}
          <li id="faq{{q.num}}">
            <p class="faq-title title">
              {{ q.title }}
            </p>
            <div class="faq-answer">
              {% for para in q.paragraphs %}
                <p>{{ para.p }}</p>
              {% endfor %}
              <p><a href="#top" class='back-to-top'>Back to top</a></p>
            </div>
          </li>
          {% endfor %}  
        </ul>
      </div>
    </div>
  </div>
</section><!-- /.main -->
<script>
$(document).ready(function() {
  $('#side_nav').affix({
    offset: {
      top: 85,
      bottom: function () {
        return ($('footer').outerHeight(true))
      }
    }
  })
});
</script>
