<section id="spec-viewer">
	<div class="section-heading">
	  <h1> 
	      The Standard Health Record Valuesets
	  </h1> 
	</div>
	<div class="section-content">
	  <div class="container">
	              <div class="row">
	              <h2><a href="/shr/actor/vs">Actor</a></h2>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/actor/vs/#HealthcareRoleVS">HealthcareRoleVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/actor/vs/#AgeGroupVS">AgeGroupVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/actor/vs/#LanguageQualifierVS">LanguageQualifierVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/allergy/vs">Allergy</a></h2>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/allergy/vs/#AllergenIrritantVS">AllergenIrritantVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/allergy/vs/#FoodSubstanceVS">FoodSubstanceVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/allergy/vs/#DrugIngredientVS">DrugIngredientVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/allergy/vs/#AllergyVerificationStatusVS">AllergyVerificationStatusVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/base/vs">Base</a></h2>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/base/vs/#MissingValueReasonVS">MissingValueReasonVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/base/vs/#GenericAnswersVS">GenericAnswersVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/behavior/vs">Behavior</a></h2>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/behavior/vs/#ReligiousPracticeStatusVS">ReligiousPracticeStatusVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/behavior/vs/#ReligiousRestrictionVS">ReligiousRestrictionVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/behavior/vs/#SubstanceOfAbuseVS">SubstanceOfAbuseVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/behavior/vs/#SubstanceAbuseTreatmentTypeVS">SubstanceAbuseTreatmentTypeVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/behavior/vs/#AlcoholUseScreeningToolVS">AlcoholUseScreeningToolVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/behavior/vs/#SpecialDietFollowedVS">SpecialDietFollowedVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/behavior/vs/#DietNutritionConcernVS">DietNutritionConcernVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/behavior/vs/#SleepQualityReasonVS">SleepQualityReasonVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/behavior/vs/#PhysicalActivityLimitationVS">PhysicalActivityLimitationVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/core/vs">Core</a></h2>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/core/vs/#CodingQualifierVS">CodingQualifierVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/core/vs/#ClockDirectionVS">ClockDirectionVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/core/vs/#UpperBoundTypeVS">UpperBoundTypeVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/core/vs/#LowerBoundTypeVS">LowerBoundTypeVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/core/vs/#StatisticTypeVS">StatisticTypeVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/core/vs/#TimeUnitOfMeasureVS">TimeUnitOfMeasureVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/core/vs/#QualitativeDateTimeVS">QualitativeDateTimeVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/core/vs/#SemiquantitativeDurationVS">SemiquantitativeDurationVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/core/vs/#SemiquantitativeFrequencyVS">SemiquantitativeFrequencyVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/core/vs/#QualitativeFrequencyVS">QualitativeFrequencyVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/core/vs/#ThreeValueLogicVS">ThreeValueLogicVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/core/vs/#QualitativeValueScaleVS">QualitativeValueScaleVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/core/vs/#QualitativeLikelihoodVS">QualitativeLikelihoodVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/core/vs/#ThreePriorityVS">ThreePriorityVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/core/vs/#SettingVS">SettingVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/core/vs/#BodyPositionVS">BodyPositionVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/core/vs/#BodySiteVS">BodySiteVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/core/vs/#LateralityVS">LateralityVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/core/vs/#DirectionalityVS">DirectionalityVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/core/vs/#PortionTotalityVS">PortionTotalityVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/core/vs/#PerformanceGradingScaleVS">PerformanceGradingScaleVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/core/vs/#ManifestationVS">ManifestationVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/core/vs/#DiseaseFindingVS">DiseaseFindingVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/core/vs/#ClinicalFindingAbsentVS">ClinicalFindingAbsentVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/demographics/vs">Demographics</a></h2>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/demographics/vs/#AddressUseVS">AddressUseVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/demographics/vs/#TelephoneTypeVS">TelephoneTypeVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/demographics/vs/#TelecomQualifierVS">TelecomQualifierVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/demographics/vs/#InsuranceProviderTypeVS">InsuranceProviderTypeVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/device/vs">Device</a></h2>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/device/vs/#RespiratoryRateSettingVS">RespiratoryRateSettingVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/device/vs/#RespiratoryAssistDeviceVS">RespiratoryAssistDeviceVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/encounter/vs">Encounter</a></h2>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/encounter/vs/#EpisodeOfCareCompletionVS">EpisodeOfCareCompletionVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/encounter/vs/#EncounterUrgencyVS">EncounterUrgencyVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/encounter/vs/#EncounterTypeVS">EncounterTypeVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/encounter/vs/#ReferralSourceTypeVS">ReferralSourceTypeVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/encounter/vs/#TreatmentCooperationVS">TreatmentCooperationVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/encounter/vs/#ReasonEncounterDidNotHappenVS">ReasonEncounterDidNotHappenVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/environment/vs">Environment</a></h2>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/environment/vs/#ResourceStabilityVS">ResourceStabilityVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/environment/vs/#IncomeSourceVS">IncomeSourceVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/environment/vs/#NonCashBenefitVS">NonCashBenefitVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/environment/vs/#AnimalExposureVS">AnimalExposureVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/environment/vs/#CoinhabitantVS">CoinhabitantVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/environment/vs/#HomeEnvironmentRiskVS">HomeEnvironmentRiskVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/immunization/vs">Immunization</a></h2>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/immunization/vs/#ImmunizationNotGivenReasonVS">ImmunizationNotGivenReasonVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/lab/vs">Lab</a></h2>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/lab/vs/#RequestStatusVS">RequestStatusVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/lab/vs/#TestInterpretationVS">TestInterpretationVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/lab/vs/#ChangeFlagVS">ChangeFlagVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/lab/vs/#HIVScreeningTestCodeVS">HIVScreeningTestCodeVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/lab/vs/#HIVScreeningTestResultVS">HIVScreeningTestResultVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/lab/vs/#HIVSupplementalTestCodeVS">HIVSupplementalTestCodeVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/lab/vs/#HIVSupplementalTestResultVS">HIVSupplementalTestResultVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/lifehistory/vs">Lifehistory</a></h2>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/lifehistory/vs/#EducationalAttainmentVS">EducationalAttainmentVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/lifehistory/vs/#TeratogenVS">TeratogenVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/lifehistory/vs/#CongenitalAbnormalitiesVS">CongenitalAbnormalitiesVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/lifehistory/vs/#EmploymentStatusVS">EmploymentStatusVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/lifehistory/vs/#MilitaryStatusVS">MilitaryStatusVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/lifehistory/vs/#USMilitaryBranchVS">USMilitaryBranchVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/lifehistory/vs/#MilitaryServiceDischargeStatusVS">MilitaryServiceDischargeStatusVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/lifehistory/vs/#MilitaryServiceEraVS">MilitaryServiceEraVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/medication/vs">Medication</a></h2>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/medication/vs/#ReasonMedicationNotUsedVS">ReasonMedicationNotUsedVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/medication/vs/#MedicationNonAdherenceReasonVS">MedicationNonAdherenceReasonVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/medication/vs/#MedicationChangeTypeVS">MedicationChangeTypeVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/medication/vs/#MedicationChangeReasonVS">MedicationChangeReasonVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/observation/vs">Observation</a></h2>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/observation/vs/#NonLabObservationStatusVS">NonLabObservationStatusVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/observation/vs/#ExposureReasonVS">ExposureReasonVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/observation/vs/#ObservationNotMadeReasonVS">ObservationNotMadeReasonVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/problem/vs">Problem</a></h2>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/problem/vs/#ProblemCategoryVS">ProblemCategoryVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/problem/vs/#EvidenceQualityVS">EvidenceQualityVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/problem/vs/#GradeOrStageVS">GradeOrStageVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/sex/vs">Sex</a></h2>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/sex/vs/#GenderIdentityVS">GenderIdentityVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/sex/vs/#SexualOrientationVS">SexualOrientationVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/sex/vs/#CommonPregnancyComplicationVS">CommonPregnancyComplicationVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/sex/vs/#ContraceptiveMethodVS">ContraceptiveMethodVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/sex/vs/#ContraceptiveMethodReasonVS">ContraceptiveMethodReasonVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/sex/vs/#ContraceptiveNotUsedReasonVS">ContraceptiveNotUsedReasonVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/sex/vs/#SexualActivityVS">SexualActivityVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/sex/vs/#DifficultyWithIntercourseVS">DifficultyWithIntercourseVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/skin/vs">Skin</a></h2>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/skin/vs/#SupportSurfaceVS">SupportSurfaceVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/skin/vs/#SupportSurfaceCategoryVS">SupportSurfaceCategoryVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/skin/vs/#SupportSurfaceBodyPositionVS">SupportSurfaceBodyPositionVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/skin/vs/#SupportSurfaceComponentVS">SupportSurfaceComponentVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/skin/vs/#SupportSurfaceFeatureVS">SupportSurfaceFeatureVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/skin/vs/#PressureUlcerBodySiteVS">PressureUlcerBodySiteVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/skin/vs/#PressureUlcerAssociationVS">PressureUlcerAssociationVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/skin/vs/#VisibleInternalStructureVS">VisibleInternalStructureVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/skin/vs/#WoundEdgeAppearanceVS">WoundEdgeAppearanceVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/vital/vs">Vital</a></h2>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/vital/vs/#RespiratoryRateQualifierVS">RespiratoryRateQualifierVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/vital/vs/#RespiratoryRateMethodVS">RespiratoryRateMethodVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/vital/vs/#HeartRateQualifierVS">HeartRateQualifierVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/vital/vs/#HeartRateMethodVS">HeartRateMethodVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/vital/vs/#OxygenSaturationBodySiteVS">OxygenSaturationBodySiteVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/vital/vs/#BodyTemperatureQualifierVS">BodyTemperatureQualifierVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/vital/vs/#BodyTemperatureBodySiteVS">BodyTemperatureBodySiteVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/vital/vs/#BodyHeightQualifierVS">BodyHeightQualifierVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	                  <div class="col-md-4"> 
	                      <ul class="spec-data-element-list">
	                              <li class="spec-data-element">
	                                <a href="/shr/vital/vs/#BodyWeightQualifierVS">BodyWeightQualifierVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/vital/vs/#BloodPressureMethodVS">BloodPressureMethodVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/vital/vs/#BloodPressureQualifierVS">BloodPressureQualifierVS</a><br>
	                              </li>
	                              <li class="spec-data-element">
	                                <a href="/shr/vital/vs/#BloodPressureBodySiteVS">BloodPressureBodySiteVS</a><br>
	                              </li>
	                      </ul>
	                  </div>
	              </div>
	  </div>
	</div>
	<div class="
</section>