<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 links">
        <div class="row">
          <div class="col-md-push-1 col-xs-4 landing-links ">
            <ul class="list-unstyled">
              <li class="scroll ">
                <a href="/#home">HOME</a>
              </li>
              <li>
                <a href="/#about-landing">SHR COLLABORATIVE</a>
              </li>

              <li>
                <a href="/collaborative.html">INITIATIVES</a>
              </li> 
              <li>
                <a href="/evidence.html">EVIDENCE</a>
              </li>
              <!--                <li>
                <a href="/evidence.html">INTEROPERABILITY</a>
              </li> --> 
<!--               <li class="">
                <a href="/spec.html">SPECIFICATION</a>
              </li> -->
            </ul>
          </div>
          <div class="col-xs-offset-1 col-xs-5 sister-links ">
            <ul class="list-unstyled">
              <li class="">
                <a href="/spec.html">SPECIFICATION</a>
              </li>
              <li class="">
                <a href="/shr/">SPEC VIEWER</a>
              </li>
              <li class="">
                <a href="/faq.html">FAQ</a>
              </li>
              <li class="scroll">
                <a href="/#contact-landing">CONTACT</a>
              </li>
            </ul>
          </div>
        </div>  
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-xs-12"> 
            <p class="logo">
              <a href="https://www.mitre.org/">
                <img src="/assets/img/MITRE.png" alt="MITRE Logo"> <span class="sr-only">MITRE Home Page</span>
              </a>
            </p>
          </div>  
        </div> 
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-6">
        <p class="copyright">Copyright © 2016 The MITRE Corporation | Approved for Public Release; Distribution Unlimited. Case Number 16&#8209;1988</p>
      </div> 
    </div>
  </div>
  <!-- Scripts for rendering -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/js/material.min.js"></script>
  <script src="/js/ripples.min.js"></script>
  <script src="/js/snackbar.min.js"></script>

  <script> $.material.init(); </script>

</footer>
