<!-- <footer>
  <div class="container">
    <p class="logo"><a href="https://github.com/standardhealth" class="github" title="View the SHR Initiative on GitHub"><img src="assets/img/GitHub-Mark-Light-64px.png" alt="GitHub logo" role="presentation"><span class="sr-only">SHR Repository on GitHub</span></a><img src="assets/img/MITRE.png" alt="MITRE Logo"></p>
    <p>Copyright &copy; 2016 The MITRE Corporation | Approved for Public Release; Distribution Unlimited. Case Number 16-1988</p>
  </div>
</footer>
 -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-3">
            <ul class="landing-links list-unstyled">
              <li class="scroll ">
                <a href="#home">HOME</a>
              </li>
              <li class="scroll">
                <a href="#about">ABOUT</a>
              </li>
              <li class="scroll">
                <a href="#spec">SPEC</a>
              </li>
              <li class="scroll">
                <a href="#contact">CONTACT</a>
              </li>
            </ul>
          </div>
          <div class="col-xs-3">
            <ul class="sister-links list-unstyled">
              <li class="scroll ">
                <a href="evidence.html">EVIDENCE</a>
              </li>
              <li class="scroll">
                <a href="faq.html">FAQ</a>
              </li>
            </ul>
          </div>
          <div class="col-xs-6">
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <p class="copyright">Copyright © 2016 The MITRE Corporation | Approved for Public Release; Distribution Unlimited. Case Number 16-1988 </p>
      </div>
    </div>
  </div>
  <!-- Scripts for rendering -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</footer>
