<header>
  <nav class="navbar navbar-fixed-top" data-spy="affix" data-offset-top="20">
    <div class="container navbar-container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" >
          <span style="font-size: 0; line-height: 0;"> Navigation </span>
          <span class="icon fa fa-2x fa-bars"></span>
        </button>
        <div class="logo-banner">
          <a href="/#sitehomepage">
            <img src='/assets/img/shr_brand_logo.png' alt='Standard Helath Record Collaborative logo'> 
          </a>
        </div>
      </div>
      <div id="site-menu" class="navbar-collapse collapse" role="navigation">
        <ul class="nav navbar-nav">
          <!-- Search for the mobile layout -->
          <li class="visible-xs">
            <form class="search-form form-group">
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-primary" aria-label="Click to Search SHR" id="searchSubmitButton-mobile">
                    <span class="fa fa-search" aria-hidden="true"></span>
                  </button>
                </span>
                <div class="search">
                  <input id="search-input-mobile" class="typeahead form-control" type="text" placeholder="Search SHR Elements">
                </div>
              </div>
            </form>
          </li>
          <li class="scroll active">
            <a href="/#sitehomepage">HOME</a>
          </li>
          <li class="aboutNav">
            <a href="javascript:void(0)" class="dropdown-toggle" id="drop_about" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ABOUT<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="scroll visible-xs-block"><a class="dropdown-elem" data-toggle="collapse" data-target=".navbar-collapse" href="/#about-landing">SHR COLLABORATIVE</a></li>
              <li class="scroll hidden-xs"><a class="dropdown-elem" href="/#about-landing">SHR COLLABORATIVE</a></li>
              <li><a class="dropdown-elem" href="/collaborative.html">INITIATIVES</a></li>
              <li><a class="dropdown-elem" href="/evidence.html">EVIDENCE</a></li>
            </ul>
          </li> 
          <li>
            <a href="javascript:void(0)" class="dropdown-toggle" id="drop_spec" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SPEC<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-elem hidden-xs" href="/shr/graphic.html">SPEC VISUALIZATION</a></li>
              <li><a class="dropdown-elem" href="/shr/">SHR SPEC</a></li>
              <li><a class="dropdown-elem" href="/spec_terminology.html">SPEC TERMINOLOGY</a></li>
              <li><a class="dropdown-elem" href="/fhir/">SHR FHIR&reg; IG</a></li>
              <li class="divider"></li>
              <li><a class="dropdown-elem" href="/shr/index_all_elements.html">DATA ELEMENT INDEX</a></li>
              <li><a class="dropdown-elem" href="/shr/vs/">VALUE SET INDEX</a></li>
              <li><a class="dropdown-elem" href="/shr/cs/">CODE SYSTEM INDEX</a></li>
            </ul>
          </li>

          <li class="">
            <a href="/faq.html">FAQ</a>
          </li>
          <li class="scroll">
            <a href="/#contact-landing">CONTACT</a>
          </li>
          <li class="hidden-xs">
            <form class="search-form form-group">
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-primary" aria-label="Click to Search SHR" id="searchSubmitButton">
                    <span class="fa fa-search" aria-hidden="true"></span>
                  </button>
                </span>
                <div class="search">
                  <input id="search-input" class="typeahead form-control" type="text" placeholder="Search SHR Elements">
                </div>
              </div>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
