<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The Standard Health Record Collaborative is working to create a single, high-quality health record for every individual in the United States.">
    <meta name="keywords" content="HealthIT,medical errors,semantic interoperability,healthcare interoperability,interoperability,Electronic Health Record,Electronic Medical Record,EMR,EHR,synthetic patient,SyntheticMass,MITRE,Personal Health Record,Universal Health Record,National Health Record">

    <!-- Favicons -->
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">

    <!-- Material Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">
    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" href="/assets/css/bootstrap-material-design.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/ripples.min.css" type="text/css">
    <!-- Font Awesome for Icons  -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!-- Personal Styling -->
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/snackbar.css">
    <link rel="stylesheet" href="/assets/css/shr-github-markdown.css" type='text/css'/>
    <!-- Styling done in SSVE -->
    <link rel="stylesheet" href="/assets/css/ssve.css">

    <!-- <link rel="stylesheet" href="/assets/css/sidenav.css" type="text/css" > -->

    <!-- JS -->
    <!-- Jquery 2.2.4-->
    <script src="/assets/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Lodash -->
    <script src="/assets/js/lodash.min.js"></script>
    <!-- D3.js -->
    <script src="/assets/js/d3.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>Standard Health Record Collaborative</title>
</head>