<header>
  <nav class="navbar navbar-fixed-top" role="navigation" data-spy="affix" data-offset-top="20">
    <div class="container navbar-container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <div class="icon fa fa-lg fa-bars"></div>
        </button>
        <a href="#">
          <img src='assets/img/shr_brand_logo.svg' alt='Standard Helath Record Intiative logo'> 
        </a>
      </div>
      <div id="site-menu" class="navbar-collapse collapse ">
        <ul class="nav navbar-nav ">
          <li class="scroll active">
            <a href="/#home">HOME</a>
          </li>
          <li class="scroll">
            <a href="/#about">ABOUT</a>
          </li>
          <li class="scroll">
            <a href="/#spec">SPEC</a>
          </li>
          <li class="scroll">
            <a href="/#evid">EVIDENCE</a>
          </li>
          <li class="scroll">
            <a href="/#contact">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
