<header class="navbar">
  <div class="container">
  <nav>
    <ul class="nav navbar-nav">
      <li><a href="../" class=" {% if page.menu == 'HOME' %}selected{% endif %}">Home</a></li>
      <li><a href="overview.html" class="{% if page.menu == 'OVERVIEW' %}selected{% endif %}">Overview</a></li>
      <li><a href="faq.html" class="{% if page.menu == 'FAQ' %}selected{% endif %}">FAQ</a></li>
      <li><a href="feedback.html" class="{% if page.menu == 'FEEDBACK' %}selected{% endif %}">Feedback</a></li>
    </ul>
  </nav>
  </div>
</header>
