<footer id="footer">
  <div class="container" id="footer-container">
    <div class="row" id="footer-row">
      <div class="col-sm-8">
        <div id="shr-footer">
          <a href="http://www.standardhealthrecord.org">
            <img src="/assets/img/icaredata/shr_brand_logo.png" alt='Standard Health Record home page' id="shr-logo-footer">
          </a>
          <div id="shr-text">
            <p class="shr-title">
              The Standard Health Record Collaborative
            </p>
            <p>
              One human, one health record
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <a href="http://www.mitre.org">
          <img src="/assets/img/icaredata/MITRE-color.png" alt="MITRE home page" id="mitre-logo">
        </a>
      </div>
    </div>
  </div>
  <!-- Scripts for rendering -->
  <script src="/assets/js/material.min.js"></script>
  <script src="/assets/js/ripples.min.js"></script>

</footer>
