<header>
  <div id="header-image">
        <img id="header-image-source" src="/assets/img/icaredata/blue-header-thin-long-light-with-triangle.jpg" alt="" />
        <div id="header-content">
          <a href="http://www.standardhealthrecord.org">
            <img src="/assets/img/icaredata/shr_brand_logo.png" alt='Standard Health Record home page' id="shr-logo-header">
          </a>
          <div id="header-title">
            <h1>
              <img src="/assets/img/icaredata/icare_logo_color.png" alt='ICAREdata project logo' id="icare-logo">
              ICAREdata Project
            </h1>
            <p>
              Integrating Clinical Trials and Real-World Endpoints
            </p>
          </div>
        </div>
  </div>
</header>
