<section id="spec-viewer">
	<div class="section-heading">
	  <h1> 
	      The Standard Health Record Codesystems
	  </h1> 
	</div>
	<div class="section-content">
	  <div class="container">
	              <div class="row">
	              <h2><a href="/shr/actor/cs">Actor</a></h2>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/actor/cs/#LanguageQualifierVS">LanguageQualifierVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/base/cs">Base</a></h2>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/base/cs/#MissingValueReasonVS">MissingValueReasonVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/base/cs/#GenericAnswersVS">GenericAnswersVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/behavior/cs">Behavior</a></h2>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/behavior/cs/#ReligiousPracticeStatusVS">ReligiousPracticeStatusVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/behavior/cs/#ReligiousRestrictionVS">ReligiousRestrictionVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/behavior/cs/#SubstanceAbuseTreatmentTypeVS">SubstanceAbuseTreatmentTypeVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/behavior/cs/#AlcoholUseScreeningToolVS">AlcoholUseScreeningToolVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/behavior/cs/#SpecialDietFollowedVS">SpecialDietFollowedVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/behavior/cs/#DietNutritionConcernVS">DietNutritionConcernVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/behavior/cs/#SleepQualityReasonVS">SleepQualityReasonVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/behavior/cs/#PhysicalActivityLimitationVS">PhysicalActivityLimitationVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/core/cs">Core</a></h2>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/core/cs/#CodingQualifierVS">CodingQualifierVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/core/cs/#QualitativeDateTimeVS">QualitativeDateTimeVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/core/cs/#SemiquantitativeDurationVS">SemiquantitativeDurationVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/core/cs/#SemiquantitativeFrequencyVS">SemiquantitativeFrequencyVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/core/cs/#QualitativeFrequencyVS">QualitativeFrequencyVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/core/cs/#ThreeValueLogicVS">ThreeValueLogicVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/core/cs/#QualitativeValueScaleVS">QualitativeValueScaleVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/core/cs/#QualitativeLikelihoodVS">QualitativeLikelihoodVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/core/cs/#ThreePriorityVS">ThreePriorityVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/core/cs/#SettingVS">SettingVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/core/cs/#PerformanceGradingScaleVS">PerformanceGradingScaleVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/demographics/cs">Demographics</a></h2>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/demographics/cs/#AddressUseVS">AddressUseVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/demographics/cs/#TelephoneTypeVS">TelephoneTypeVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/demographics/cs/#TelecomQualifierVS">TelecomQualifierVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/demographics/cs/#InsuranceProviderTypeVS">InsuranceProviderTypeVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/device/cs">Device</a></h2>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/device/cs/#RespiratoryRateSettingVS">RespiratoryRateSettingVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/device/cs/#RespiratoryAssistDeviceVS">RespiratoryAssistDeviceVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/encounter/cs">Encounter</a></h2>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/encounter/cs/#EpisodeOfCareCompletionVS">EpisodeOfCareCompletionVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/encounter/cs/#EncounterTypeVS">EncounterTypeVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/encounter/cs/#ReferralSourceTypeVS">ReferralSourceTypeVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/encounter/cs/#TreatmentCooperationVS">TreatmentCooperationVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/encounter/cs/#ReasonEncounterDidNotHappenVS">ReasonEncounterDidNotHappenVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/environment/cs">Environment</a></h2>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/environment/cs/#ResourceStabilityVS">ResourceStabilityVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/environment/cs/#IncomeSourceVS">IncomeSourceVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/environment/cs/#NonCashBenefitVS">NonCashBenefitVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/environment/cs/#AnimalExposureVS">AnimalExposureVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/environment/cs/#CoinhabitantVS">CoinhabitantVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/environment/cs/#HomeEnvironmentRiskVS">HomeEnvironmentRiskVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/lab/cs">Lab</a></h2>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/lab/cs/#RequestStatusVS">RequestStatusVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/lifehistory/cs">Lifehistory</a></h2>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/lifehistory/cs/#EducationalAttainmentVS">EducationalAttainmentVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/lifehistory/cs/#TeratogenVS">TeratogenVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/lifehistory/cs/#EmploymentStatusVS">EmploymentStatusVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/lifehistory/cs/#MilitaryStatusVS">MilitaryStatusVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/lifehistory/cs/#USMilitaryBranchVS">USMilitaryBranchVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/lifehistory/cs/#MilitaryServiceDischargeStatusVS">MilitaryServiceDischargeStatusVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/lifehistory/cs/#MilitaryServiceEraVS">MilitaryServiceEraVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/medication/cs">Medication</a></h2>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/medication/cs/#ReasonMedicationNotUsedVS">ReasonMedicationNotUsedVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/medication/cs/#MedicationChangeTypeVS">MedicationChangeTypeVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/medication/cs/#MedicationChangeReasonVS">MedicationChangeReasonVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/observation/cs">Observation</a></h2>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/observation/cs/#ExposureReasonVS">ExposureReasonVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/observation/cs/#ObservationNotMadeReasonVS">ObservationNotMadeReasonVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/problem/cs">Problem</a></h2>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/problem/cs/#ProblemCategoryVS">ProblemCategoryVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/problem/cs/#EvidenceQualityVS">EvidenceQualityVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/problem/cs/#GradeOrStageVS">GradeOrStageVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/sex/cs">Sex</a></h2>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/sex/cs/#GenderIdentityVS">GenderIdentityVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/sex/cs/#ContraceptiveMethodVS">ContraceptiveMethodVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/sex/cs/#ContraceptiveMethodReasonVS">ContraceptiveMethodReasonVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/sex/cs/#ContraceptiveNotUsedReasonVS">ContraceptiveNotUsedReasonVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/skin/cs">Skin</a></h2>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/skin/cs/#SupportSurfaceCategoryVS">SupportSurfaceCategoryVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/skin/cs/#SupportSurfaceBodyPositionVS">SupportSurfaceBodyPositionVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/skin/cs/#SupportSurfaceComponentVS">SupportSurfaceComponentVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/skin/cs/#SupportSurfaceFeatureVS">SupportSurfaceFeatureVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/skin/cs/#PressureUlcerAssociationVS">PressureUlcerAssociationVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	              </div>
	              <div class="row">
	              <h2><a href="/shr/vital/cs">Vital</a></h2>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/vital/cs/#RespiratoryRateQualifierVS">RespiratoryRateQualifierVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/vital/cs/#RespiratoryRateMethodVS">RespiratoryRateMethodVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/vital/cs/#HeartRateQualifierVS">HeartRateQualifierVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/vital/cs/#HeartRateMethodVS">HeartRateMethodVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/vital/cs/#BodyTemperatureQualifierVS">BodyTemperatureQualifierVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/vital/cs/#BodyHeightQualifierVS">BodyHeightQualifierVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	                 <div class="col-md-4"> 
	                     <ul class="spec-data-element-list">
	                             <li class="spec-data-element">
	                               <a href="/shr/vital/cs/#BodyWeightQualifierVS">BodyWeightQualifierVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/vital/cs/#BloodPressureMethodVS">BloodPressureMethodVS</a><br>
	                             </li>
	                             <li class="spec-data-element">
	                               <a href="/shr/vital/cs/#BloodPressureQualifierVS">BloodPressureQualifierVS</a><br>
	                             </li>
	                     </ul>
	                 </div>
	              </div>
	  </div>
	</div>
	<div class="
</section>