
/**** Hierarchy Visualization ****/
#chart-container {
    margin-top: 1%;
    border-style: groove;
}

#legendText {
    display: inline-block;
}

#legend {
    display: inline-block;
    width: 30%;
}

.node circle {
    fill: #fff;
    stroke: #6d6b6b;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

/**** Search Bar ****/
nav.navbar #site-menu ul:last-child { 
    margin: 0;
}
.input-group .input-group-btn {
    padding: 0 8px 0 0px;
}
.search-form { 
    width: 200px;
    padding: 15px 0;
    margin: 0;
}
.search-form .btn.btn-primary { 
    padding: 8px 15px;
}
.search-form .tt-input { 
    text-overflow: ellipsis;
}
.search-form.form-group.is-focused .form-control {
    background-image: linear-gradient(#295677, #295677), linear-gradient(#D2D2D2, #D2D2D2);
}    
.search-form .fa {
    color: #295677;
}
.search-form .tt-dropdown-menu {
    right: 0px!important;
    left: auto!important;    
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
.search-form .tt-suggestion {
    background-color: #ffffff; 
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}
.search-form .tt-suggestion p {
    margin: 0;
}
.search-form .tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    /*color: #f9f9f9;*/
    color: #ffffff;
    background-color: #295677;
} 
.search-form .tt-suggestion.tt-cursor p{ /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #ffffff;
}

@media (max-width: 767px) {
    .search-form { 
        padding: 15px 0 0 0;
    }
    .search-form .btn.btn-primary { 
        padding: 7px 7px 7px 7px;
    }
}