header.navbar {
  font-family: 'Gill Sans Light', 'Gill Sans MT Light', Lato, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: $md-font-size;
  margin-bottom: 0;
  border-radius: 0;
  border-width: 0;
  background-color: $hero-color;
  border-bottom: 2px solid $hero-or-color;
  height: 145px;
  a {
    text-transform: uppercase;
  }
  .navbar-inverse {
    height: 60px;
    background-color: $hero-color;
    border-color: $hero-lt-color;
    .navbar-nav > .open > a {
      color: $hero-color;
      background-color: $hero-lt-color;
    }
    .navbar-nav li a {
      color: #fff;
      padding: 15px 25px;
      &:hover {
        color: $hero-color;
        background-color: $hero-lt-color;
      }
    }
    .dropdown-menu > li > a {
      color: $hero-color;
      background-color:#fff;
      font-size: $base-font-size;
      padding: 20px 25px;
    }
  }
}

div.banner {
  height: 85px;
  background: #fff url("../assets/img/completeness.svg") repeat 50% 22%;

  .logo img {
    height: 85px;
    display: inline-block;
    vertical-align: middle;
    margin:0 0 0 0;
    padding:0 0 10px 0;
  }
  h1 {
    display: inline-block;
    /* NOTE: attempting to cascade over from layout;
    font-size: $xl-font-size;*/
    margin: 0;
    height:85px;
    vertical-align: middle;
    text-align: center; 
    line-height: 85px;
    padding: 0px 0 0 20px;
  }
}
.navbar-header {
  text-align: center;
}
