$banner-size-with-padding: 90px;
$banner-size: 80px;

.navbar-toggle {
    padding: 5px;
    margin:0;
}

header.navbar {
  font-family: 'Gill Sans Light', 'Gill Sans MT Light', Lato, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: $md-font-size;
  margin-bottom: 0;
  border-radius: 0;
  border-width: 0;
  background-color: $hero-color;
  border-bottom: 2px solid $hero-or-color;
  a {
    text-transform: uppercase;
  }
  .navbar-inverse {
    background-color: $hero-color;
    border-color: $hero-lt-color;
    .navbar-nav > .open > a {
      color: $hero-color;
      background-color: $hero-lt-color;
    }
    .navbar-nav li a {
      color: #fff;
      padding: 15px 25px;
      &:hover {
        color: $hero-color;
        background-color: $hero-lt-color;
      }
    }
    .dropdown-menu > li > a {
      color: $hero-color;
      background-color:#fff;
      font-size: $base-font-size;
      padding: 20px 25px;
    }
  }
}

div.banner {
  height: $banner-size-with-padding;
  background: #fff url("../assets/img/completeness.svg") repeat 8% 21%;
  background-size: auto 350%;

  .logo img {
    float: left;
    height: $banner-size;
    display: inline-block;
    vertical-align: middle;
    padding:10 10 10 20px;
  }
  h1 {
    /* NOTE: attempting to cascade over from layout;
    font-size: $xl-font-size;*/
    margin: 0;
    position: relative;
    display: inline-block;
    padding: 20px 0 20px 20px;
  }
}
.navbar-header {
  text-align: center;
}

/*  
  RESPONSIVENESS
*/

@media (max-width:1170px) {
  header.navbar {
    .navbar-nav li a {
      padding: 30px 15px;
      font-size: $md-font-size;
    }
    .dropdown-menu > li > a {
      padding: 20px 25px;
    }
    .navbar-toggle {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}


@media (min-width:1200px) {
  div.banner .logo img {
    width: 100px;
    vertical-align: middle;
  }
  div.banner h1 {
    display: inline-block;
    width: 800px;
    margin: 0;
  }
  header.navbar {
      .navbar-nav li a {
        padding: 30px 15px;
        font-size: $md-font-size;
      }
      .dropdown-menu > li > a {
        padding: 20px 25px;
      }
      .navbar-toggle {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
}

@media (max-width:1199px) {
  div.banner .logo img {
    width: 100px;
    vertical-align: middle;
  }

  div.banner h1 {
    display: inline-block;
    width: 800px;
    margin: 0;
  }  
  header.navbar {
      .navbar-nav li a {
        padding: 30px 15px;
        font-size: $md-font-size;
      }
      .dropdown-menu > li > a {
        padding: 20px 25px;
      }
      .navbar-toggle {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
}


@media (max-width:991px) {
  div.banner .logo img {
    width: 100px;
    vertical-align: middle;
  }
  div.banner h1 {
    display: inline-block;
    width: 600px;
    margin: 0;
  }
}

@media (max-width:767px) {
  div.banner .logo img {
    width: 100px;
    vertical-align: middle;
  }
  div.banner h1 {
    display: inline-block;
    padding: 15px 0 15px 20px;
    width: 300px;
    margin: 0;
  }
}

@media (max-width:555px) {
  div.banner .logo img {
    width: 100px;
    vertical-align: middle;
  }
  div.banner h1 {
    display: inline-block;
    padding: 15px 0 15px 20px;
    width: 250px;
    margin: 0;
  }
}

@media (max-width:405px) {
  div.banner .logo img {
    width: 100px;
    vertical-align: middle;
  }
  div.banner h1 {
    display: inline-block;
    padding: 0px 0 0px 20px;
    width: 200px;
    margin: 0;
  }
}


@media (max-width:347px) {
  div.banner .logo img {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width:100px;
  }
  div.banner h1 {
    display: none;
  }
}
