header.navbar {
  font-family: 'Gill Sans Light', 'Gill Sans MT Light', Lato, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: $base-font-size*1.2;
  margin-bottom: 0;
  border-radius: 0;
  border-width: 0;
  background-color: $hero-color;
  border-bottom: 2px solid $hero-or-color;
  a {
    text-transform: uppercase;
  }
  .navbar-inverse {
    background-color: $hero-color;
    border-color: $hero-lt-color;
    .navbar-nav > .open > a {
      color: $hero-color;
      background-color: $hero-lt-color;
    }
    .navbar-nav li a {
      color: #fff;
      padding: 15px 25px;
      &:hover {
        color: $hero-color;
        background-color: $hero-lt-color;
      }
    }
    .dropdown-menu > li > a {
      color: $hero-color;
      background-color:#fff;
      font-size: $base-font-size;
      padding: 20px 25px;
    }
  }
}
div.banner {
  height: 125px;
  background: #fff url("../assets/img/completeness2.svg") repeat 50% 50%;
  background-size: cover;
  .logo img {
    width: 100px;
    vertical-align: middle;
    padding:0 0 25px 0;
  }
  h1 {
    display: inline-block;
    font-size: 3em;
    margin: 0;
    padding: 25px 0 0 30px;
  }
}
.navbar-header {
  height: 50px;
  text-align: center;
}
@media (max-width:1170px) {
  header.navbar {
    .navbar-nav li a {
      padding: 30px 15px;
      font-size: $base-font-size*1.2;
    }
    .dropdown-menu > li > a {
      padding: 20px 25px;
    }
    .navbar-toggle {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

@media (min-width:1200px) {
  div.banner .logo img {
    width: 100px;
    vertical-align: middle;
    margin-bottom: 20px;
    padding: 0;}
  div.banner h1 {
    font-size: 2.5em;
    display: inline-block;
    width: 800px;
    margin: 0;
    padding: 35px 0 0 30px}
  header.navbar {
      .navbar-nav li a {
        padding: 30px 15px;
        font-size: $base-font-size*1.2;
      }
      .dropdown-menu > li > a {
        padding: 20px 25px;
      }
      .navbar-toggle {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
}

@media (max-width:1199px) {
  div.banner .logo img {
    width: 100px;
    vertical-align: middle;
    margin-bottom: 20px;
    padding: 0;}
  div.banner h1 {
    font-size: 2.5em;
    display: inline-block;
    width: 800px;
    margin: 0;
    padding: 35px 0 0 30px}
  header.navbar {
      .navbar-nav li a {
        padding: 30px 15px;
        font-size: $base-font-size*1.2;
      }
      .dropdown-menu > li > a {
        padding: 20px 25px;
      }
      .navbar-toggle {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
}

// @media (max-width:991px) {
//   div.banner .logo img {
//     width: 100px;
//     vertical-align: middle;
//     margin-bottom: 75px;
//     padding: 0;}
//   div.banner h1 {
//     font-size: 2.5em;
//     display: inline-block;
//     width: 400px;
//     margin-top: 0;
//     padding: 5px 0 0 20px}
// }

@media (max-width:992px) {
  div.banner .logo img {
    width: 100px;
    vertical-align: middle;
    margin-bottom: 75px;
    padding: 0;}
  div.banner h1 {
    font-size: 2.5em;
    display: inline-block;
    width: 400px;
    margin: 0;
    padding: 5px 0 0 20px}
}

@media (max-width:768px) {
  div.banner .logo img {
    width: 100px;
    vertical-align: middle;
    margin-bottom: 75px;
    padding: 0;
  }
  div.banner h1 {
    font-size: 2.5em;
    display: inline-block;
    width: 400px;
    margin: 0;
    padding: 5px 0 0 20px;
  }
}
@media (max-width:550px) {
  div.banner .logo img {
    width: 100px;
    vertical-align: middle;
    margin: 0;
    padding: 0 0 55px 0;
  }
  div.banner h1 {
    font-size: 1.75em;
    display: inline-block;
    width: 250px;
    margin: 0;
    padding: 25px 0 0 10px;
  }
}

@media (max-width:385px) {
  div.banner .logo img {
    width: 100px;
    vertical-align: middle;
    margin: 0;
    padding: 0 0 35px 0;
  }
  div.banner h1 {
    font-size: 1.25em;
    display: inline-block;
    width: 200px;
    margin: 0;
    padding: 35px 0 0 10px;
  }
}

@media (max-width:350px) {
  div.banner .logo img {
    width: 100px;
    vertical-align: middle;
    margin: 0;
    padding: 0 0 25px 0;
  }
  div.banner h1 {
    font-size: 1em;
    display: inline-block;
    width: 150px;
    margin: 0;
    padding: 40px 0 0 10px;
  }
}
