
$link-color: #005DA9;
$navbar-selected-bkg : #1F5279;
$footer-bkg : #1F5279;
$navbar-link-color : #2b668b;

$h-titles-color : #2b668b;
$base-font-size:12.5pt;
$footer-height: 90px;

$head-font-family: 'Gill Sans', 'Gill Sans MT', Lato, Helvetica, Arial, sans-serif;
$base-font-family: 'Gill Sans Light', 'Gill Sans MT Light', Lato, Helvetica, Arial, sans-serif;
$hero-bkg: #82c5cc;
$hero-color :#1F5279;

html,body {
  height:100%;
  margin:0;
}

.wrapper {min-height:100%;}

body {
  font-family:  $base-font-family;
  font-size: $base-font-size*1.25;
  font-weight: 400;
  line-height: 1.5em;
  color: #444;
  background-color: #fff;
  position:relative;
}

p {
  margin-top: 0;
}

a {
  color: $link-color;
}

h1,h2,h3,h4,h5,h6 {color:$h-titles-color;font-family:$head_font-family;}
table td {
  font-family:$base-font-family;
  font-weight:300;
}
header.navbar {
  font-family: 'Gill Sans Light', 'Gill Sans MT Light', Lato, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size:$base-font-size*1.2;
  margin-bottom:0;
  border-radius:0;
  border-width:0;
  border-bottom:2px solid $navbar-selected-bkg;
  a {text-transform:uppercase}
  a.navbar-brand {
    padding:10px 15px 15px;
  }

  .navbar-nav li a {
    padding:30px 25px;
    &.selected {
      color:white;
      background-color:$navbar-selected-bkg;
    }
  }
  .dropdown-menu>li>a {
    font-size:$base-font-size;
    padding:20px 25px;
    }

}
@media (max-width:991px) {
  header.navbar {
    .navbar-nav li a {
      padding:30px 15px;
      font-size:$base-font-size;
    }
   .dropdown-menu>li>a {
      padding:20px 25px;
    }
    .navbar-toggle {margin-top:12px;margin-bottom:12px;}
  }
}



div.hero {
  background-color:darken($hero-bkg,10);
  color:$hero-color;
  padding:40px 0 60px;
  background:#fff url(../assets/img/completeness.svg) no-repeat 50% 50%;
  background-size:cover;
  text-align:center;
  div {opacity:1}
  h1 {color:$hero-color;font-size:$base-font-size*5}
  h2 {color:$hero-color;font-size:$base-font-size*2;text-transform:uppercase}
  p {
    font-family:$head-font-family;
    font-weight:600;
    margin-top:1em;
    margin-bottom:0;
    line-height:1.5em;
    font-size:$base-font-size*2;
    background-color: rgba(255,255,255,0.5);
  }
}

@media (max-width:640px) {
  header.navbar a.navbar-brand {display:block;float:none;}
}

h1, h2 {
  &.title {
  text-transform: uppercase;
  text-align:center;
  padding:40px 0 10px;
  }
}
h1.title {
  font-size:$base-font-size*2.5;
}
h2.title {
  font-size:$base-font-size*2;
}
.well h2.title {
  padding-top:0;
  font-size:$base-font-size*1.75;
}
.main {
  p {
    font-family: 'Gill Sans Light', 'Gill Sans MT Light', Lato, Helvetica, Arial, sans-serif;
    font-weight:300;
    margin-bottom:1.5em;
  }
}

.goals {
  .goal-row{
    border-spacing:10px 5px;
  }
  .goal-box{
    width:50%;
    display:table-cell;
    vertical-align:top;
    border:2px solid #1F5279;
  }

 p {
  text-align:center;
  font-style:italic;
  margin:1em;
  line-height:1.25em;

  img {
    height:64px;display:block;
  }
 }
}
a.mail-link {
  font-family: 'Gill Sans Light', 'Gill Sans MT Light', Lato, Helvetica, Arial, sans-serif;
  font-weight:300;
}
.mail-icon {
  background:transparent url(../assets/img/mail_icon.svg) top left no-repeat;
  background-size:contain;
  width:32px;
  height:16px;
  display:inline-block;
}

.shr-contents {
  .title {padding-top:5px;}

  .pane {
    padding:10px;
    background-color:#ffffff;
    text-align:center;
    font-size:15px;
    height:275px;
    margin:5px 0;
    h2 {
      min-height: 3em;
      padding-top:0;
      font-size:$base-font-size*1.75;
    }
    &.pi {
      img {
        height:70px;
      }
    }
    &.ec {
      h2 {margin-left:10px;}
      img {
        height:75px;
      }
    }
    &.pc {
      h2 {
        margin-left:30px;
        margin-right:30px;
      }
      img{
        height:85px;
      }
    }
  }
}
@media (max-width:767px) {
  .shr-contents {
    h1.title {
      font-size:$base-font-size*2;
      margin-top:10px;
      padding:5px 0 15px 0;
    }
    .pane {
      h2 {
        min-height:1.8em;
        font-size:$base-font-size*1.5;
      }
    }
  }
}

.detail {
  padding-top:15px;
  h1 {
    text-align:left;
  }
}

@media (min-width:992px) {
  .goals {
    p {padding:40px}
    img {margin:20px auto 15px auto;}
  }
}

@media (max-width:991px) {
  .goals {
    .goal-box {
      display:block;
      width:100%;
      margin-bottom:10px;
      min-height:10em;}
    p {padding:20px;}
    img {margin:15px auto 10px auto;}
  }
}

ul.reqs {
  list-style-type:none;
  padding-left:15px;
  .title {
    color: $h-titles-color;
    font-size:1.25em;
    display:block;
    margin-bottom:15px;
    font-family:  'Gill Sans', 'Gill Sans MT', Lato, Helvetica, Arial, sans-serif;
    font-weight:normal;
  }
  li {
    font-family: 'Gill Sans Light', 'Gill Sans MT Light', Lato, Helvetica, Arial, sans-serif;
    font-weight:300;
    padding:30px 0;
    border-bottom:1px solid #ccc;
  }
  li:last-child {border-bottom:0;}
}
section.faq {
  h2.side-nav-title {padding-top:40px;margin-top:0}
  .side-nav {
    width:360px;
    &.affix {top:0}
  }
  ul {
    list-style-type:none;
    font-size:$base-font-size;
    padding-left:0;
  }
  li {
    font-family: 'Gill Sans Light', 'Gill Sans MT Light', Lato, Helvetica, Arial, sans-serif;
    font-weight:300;
    padding:40px 0;
    border-bottom:1px solid #ccc;
    a {margin-left:5px;}
  }
  li:last-child {border-bottom:0;}
  ol>li {
    padding:10px 0;
    border-bottom-width:0;
  }
  .nav>.active {
    border-left:5px solid #dc8338;
    a {margin-left:0}
    &:hover {
      border-left:5px solid #FFC525;
    }
  }
  ul.faq-nav {
    position:relative;
    li {
      padding:0;
      font-size:$base-font-size*0.9;
      line-height:1.25em;
    }
  }
  span.title {
    color: $h-titles-color;
    font-size:1.25em;
    display:block;
    margin-bottom:15px;
    font-family:  'Gill Sans', 'Gill Sans MT', Lato, Helvetica, Arial, sans-serif;
    font-weight:normal;
  }
  .back-to-top {display:block}

}
section.specification {
  dl {font-size:$base-font-size;margin-bottom:2em}
  dt {color:#b90010;}
  dd {
    color:#000;
  }
  .later {
    color:#777;
    font-weight:300;
    font-family: 'Gill Sans Light', 'Gill Sans MT Light', Lato, Helvetica, Arial, sans-serif;
  }
  .onc-core {color:#eb9346;font-family:$base-font-family;}
  .note {font-style:italic;font-size:90%}
  p {font-size:$base-font-size*1.1}
}
@media (max-width:767px) {
  section.faq {
    .side-nav {
      font-size:$base-font-size*.75;
      width:100%;
    }
    div.side-nav.affix {position:relative}
  }
}

@media (min-width:768px) {
  section.faq {
    .side-nav {
      width:220px;
    }
  }
}
@media (max-width:991px) {
  section.faq {
    .nav>li>a {
      padding:8px 4px;
    }
  }
}
@media (min-width:992px) {
  section.faq {
    .side-nav {
      width:300px;
    }
  }
}
@media (min-width:1200px) {
  section.faq {
    .side-nav {
      width:360px;
    }
  }
}

table.timeline {
   td:last-child {text-align:right;padding-left:1em;}
}

section.timeline {
  h2 {
    text-transform: uppercase;
    font-size:$base-font-size*2;
    padding:40px 0;
  }
  .timeline-items {
    margin:0 auto;
    padding-left:15px;
    padding-right:15px;
    margin-right:auto;
    margin-left:auto;
    padding-bottom:30px;
    background-color: rgba(255,255,255,0.6);
  }
  dt {
      font-family:  'Gill Sans', 'Gill Sans MT', Lato, Helvetica, Arial, sans-serif;
      font-weight:normal;
      padding:15px 0 0;
      color:#1F5279;
    }
    dd {
      padding:15px 0 15px 40px;
      font-family: 'Gill Sans Light', 'Gill Sans MT Light', Lato, Helvetica, Arial, sans-serif;
      font-weight:300;
      color:#1F5279;
      background:transparent url(../assets/img/timeline-border.svg) 0 0  no-repeat;
    }
    dd:last-child {
      background:transparent url(../assets/img/timeline-border-last.svg) 0 0  no-repeat;
    }
    dt:first-child+dd {
      background:transparent url(../assets/img/timeline-border-first.svg) 0 0  no-repeat;
    }
  }
.table-core-team th:first-child {
  white-space:nowrap;
}
@media (max-width:767px) {
  div.hero {
    padding-top:10px;
    h1 {margin-top:5px;font-size:$base-font-size*2.5}
    h2 {font-size:$base-font-size;}
    p {font-size:$base-font-size*1.4;}
  }

  .table-core-team, table.timeline {
    th,td {font-size:$base-font-size*0.8;}
  }
  h1.title {font-size:$base-font-size*1.8}
  h2.title {font-size:$base-font-size*1.5}
}
#resources {
  margin-bottom:50px;
  h2 {
    text-transform: uppercase;
    font-size:$base-font-size*2;
    padding:40px 0;
  }

  li {
      font-family: 'Gill Sans Light', 'Gill Sans MT Light', Lato, Helvetica, Arial, sans-serif;
      font-weight:300;
     line-height:1.25em;
     margin-bottom:0.5em;
  }
}

#spec_viewer {
  h1 {font-size:$base-font-size*3;}
  background:linear-gradient(to right, rgba(255,255,255,1),rgba(255,255,255,1) 25%,
  rgba(255,255,255,0)), url(../assets/img/mobile_viewer2_2x.jpg) top right no-repeat;
  background-size:cover;
  background-position-x:200px;
  background-position-y:-100px;

}
#spec_viewer_mockup {
  background:linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0) 40%,rgba(146,199,254,0.3));
}
.mockup-img {
  width:100%;
  margin-top:50px;
  margin:50px auto 0 auto;
}

@media (max-width:767px) {
  #spec_viewer_description {
    padding-top:400px;
  }
  #spec_viewer {
    background:linear-gradient(to bottom,
      rgba(255,255,255,0),
      rgba(255,255,255,.5) 25%,
      rgba(255,255,255,1) 50%,
      rgba(255,255,255,1)),
      url(../assets/img/mobile_viewer2.jpg) top right no-repeat;
    background-size:contain;
  }
}
footer {
  background-color: $footer-bkg;
  color:rgba(255,255,255,0.8);
  font-family: 'Gill Sans Light', 'Gill Sans MT Light', Lato, Helvetica, Arial, sans-serif;
  font-weight:300;
  font-size:$base-font-size*.85;
  padding:25px 0;
  p {margin:0}
  .logo {
    float:right;
    margin-left:2em;
    img {vertical-align:baseline;}
    .github img { width:40px; margin-right:20px;vertical-align:bottom}

  }
}
