
$link-color: #1c95a3;
$navbar-selected-bkg : #1c95a3;
$footer-bkg : #0095A4;
$navbar-link-color : #2b668b;

$h-titles-color : #2b668b;
$base-font-size:16pt;
$footer-height: 90px;

$hero-bkg: #82c5cc;

html,body {
  height:100%;
  margin:0;
}

.wrapper {min-height:100%;margin-bottom:$footer-height*-1;}

body {
  font-family:  'Gill Sans', 'Gill Sans MT', Lato, Helvetica, Arial, sans-serif;
  font-size: $base-font-size*1.25;
  font-weight: 400;
  line-height: 1.5em;
  color: #666;
  background-color: #fff;
}

p {
  margin-top: 0;
}

a {
  color: $link-color;
}

h1,h2,h3,h4,h5,h6 {color:$h-titles-color;}

header.navbar {
  font-family: 'Gill Sans Light', 'Gill Sans MT Light', Lato, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size:$base-font-size*1.5;
  margin-bottom:0;
  border-radius:0;
  border-width:0;
  a {text-transform:uppercase}
  a.navbar-brand {
    padding:30px 30px 50px 0;
    font-size:$base-font-size*1.5;
    line-height:20px;

    &.selected {
      padding-left:150px;
      margin-left:-150px;
      color:white;
      background-color:$navbar-selected-bkg;
    }
  }
  li a {padding:30px;}

}

div.hero {
  background-color:darken($hero-bkg,10);
  color:white;
  padding:40px 0 60px;
  background:darken($hero-bkg,10) url(../assets/img/world-map-low.svg) no-repeat 50% 50%;
  background-size:cover;
  div {opacity:1}
  h1 {color:white;font-size:$base-font-size*5}
  h2 {color:white;font-size:$base-font-size*2;text-transform:uppercase}
  p {
    font-family: 'Gill Sans Light', 'Gill Sans MT Light', Lato, Helvetica, Arial, sans-serif;
    font-weight:300;
    margin-right:50px;
  }
}

@media (max-width:640px) {
  div.hero h1 {font-size:$base-font-size*3;}
  div.hero h2 {font-size:$base-font-size;}
}

h2.title {
  text-transform: uppercase;
  font-size:$base-font-size*2;
  text-align:center;
  padding:40px 0;
}

.goals {
  background:url(../assets/img/img_1.png) no-repeat 50% 50%;
  background-size:cover;
  .col-md-6 {
    padding:0;
    // background-color: #e8f4f6;
    background-color:rgba(210, 249, 255, 0.5);
//    min-height:10em;
    vertical-align:bottom;
  }

 p {
  vertical-align:bottom;
  text-align:center;
  font-style:italic;
//  padding:40px;
  margin:0;
  line-height:1.25em;
  img {
    height:64px;display:block;
    // margin:20px auto 15px auto;
  }
}

}
@media (min-width:992px) {
  .goals {
    .col-md-6 {
      min-height:10em;
    }
    p {padding:40px}
    img {margin:20px auto 15px auto;}
    .col-md-6:nth-child(2), .col-md-6:nth-child(3), .col-md-6:nth-child(6)
    {
      background-color: rgba(242, 219, 188, 0.5) // #ede1d1;
    }
  }
}

@media (max-width:991px) {
  .goals {
    .col-md-6 {
      min-height:7em;
    }
    p {padding:20px}
    img {margin:15px auto 10px auto;}
    .col-md-6:nth-child(1), .col-md-6:nth-child(3), .col-md-6:nth-child(5)
    {
      background-color: rgba(242, 219, 188, 0.5) // #ede1d1;
    }
  }
}
ul.reqs {
  list-style-type:none;
  .title {
    color: $h-titles-color;
    font-size:1.25em;
    display:block;
    margin-bottom:15px;
    font-family:  'Gill Sans', 'Gill Sans MT', Lato, Helvetica, Arial, sans-serif;
    font-weight:normal;
  }
  li {
    font-family: 'Gill Sans Light', 'Gill Sans MT Light', Lato, Helvetica, Arial, sans-serif;
    font-weight:300;
    padding:40px 0;
    border-bottom:1px solid #ccc;
  }
  li:last-child {border-bottom:0;}
}

section.timeline {
  background:url(../assets/img/doc_tablet.jpg) no-repeat 50% 50%;
  background-size:cover;
  h2 {
    text-transform: uppercase;
    font-size:$base-font-size*2;
    padding:40px 0;
  }
  .timeline-items {
    margin:0 auto;
    padding-left:15px;
    padding-right:15px;
    margin-right:auto;
    margin-left:auto;
    padding-bottom:30px;
    background-color: rgba(255,255,255,0.5);
  }
  dt {
      font-family:  'Gill Sans', 'Gill Sans MT', Lato, Helvetica, Arial, sans-serif;
      font-weight:normal;
      padding:15px 0 0;
      color:#1F5279;
    }
    dd {
      padding:15px 0 15px 40px;
      font-family: 'Gill Sans Light', 'Gill Sans MT Light', Lato, Helvetica, Arial, sans-serif;
      font-weight:300;
      color:#333;
    }
  }

#resources {
  margin-bottom:50px;
  h2 {
    text-transform: uppercase;
    font-size:$base-font-size*2;
    padding:40px 0;
  }

  li {
      font-family: 'Gill Sans Light', 'Gill Sans MT Light', Lato, Helvetica, Arial, sans-serif;
      font-weight:300;
     line-height:1.25em;
     margin-bottom:0.5em;
  }
}


footer, .push {
  height:$footer-height;
}
footer {
  background-color: $footer-bkg;
  color:rgba(255,255,255,0.8);
  font-family: 'Gill Sans Light', 'Gill Sans MT Light', Lato, Helvetica, Arial, sans-serif;
  font-weight:300;
  font-size:$base-font-size;
  padding:20px 0;
  p {margin:0}
}