/***************/
/* SCSS Mixins */    
/***************/
@mixin transition-param($elem, $timing, $instruction:"") {
    -webkit-transition: $elem $timing #{$instruction};
    -moz-transition:    $elem $timing #{$instruction};
    -o-transition:      $elem $timing #{$instruction};
    -ms-transition:     $elem $timing #{$instruction};
    transition:         $elem $timing #{$instruction};
}

/*******************/
/* Generic styling */
/*******************/
h1, h2, h3, h4 , h5 , h6, p, li, a, input{     
    font-family: 'Roboto Condensed', sans-serif;
    color: $clr-black;
}
html, body {
    font-weight: regular;
    overflow-x: hidden;
    background-color: $clr-light-grey;
}
body {     
    visibility: "hidden";
}
html { 
    height: 100%;
}
h1 {
    font-size: $xxl-font-size;
}
h2 {
    font-size: $xl-font-size;
}
h3{
    font-size: $lg-font-size;
}
p {
    font-size: $sm-font-size;
} 
a { 
    color: $clr-primary;
    font-size: $sm-font-size;
    &:focus{
        color: $clr-dark-primary;
        border: 0; 
    }
}
section {
    padding-top: 45px;
    margin-bottom: 0px;
}
.section-heading {
    padding-bottom: 45px;
    text-align: center;
    h1 { 
        text-transform: uppercase;
        font-weight: 600;
    } 
}
section:before {
  display: block;
  content: " ";
  margin-top: -80px;
  height: 80px;
  visibility: hidden;
}
.icon{ 
    color: $clr-black;
}
.btn.btn-raised.btn-default { 
    margin-top: 30px;
    color: white;
    background-color: $clr-primary;
}
.content-colored{
    background-color: $clr-grey;
}
.wrapper { 
    min-height:100%;
    margin-bottom: $footer-h-three * -1;
}
.wrapper-padding { 
    height:$footer-h-three;
}
#snackbar-container {
    p, a{
        color: $clr-white;
    }
    a:hover{
        color: $clr-light-grey;
    }
    .snackbar-close {
        position: absolute;
        top: 0px;
        right: 0px;   
        padding: 5px 5px;
    }
}
.buffer { 
   display:block;
   height:125px;         /* this is the height of your header */
   margin-top:-125px;    /* this is again negative value of the height of your header */
   visibility:hidden;
}

/**********/
/* Header */
/**********/
header {
    nav.navbar { 
        background-color: rgba(255, 255, 255, 0);
        width: 100%;
        .navbar-header a img {
            margin: 5px 20px 10px 20px;
            width: $logo-scrolled;
            @include transition-param(all, 0.5s, ease-in-out);
        }
        .navbar-header .logo-banner { 
            margin-top: 10px;
            @include transition-param(all, 0.4s, ease-in-out);
        }
        #site-menu .navbar-nav {
            li a {
                padding: 25px 10px 17px 10px;
            }
        }
        &.affix { 
            top: 0;
            background-color: $clr-white-hvr;
            box-shadow: 0 0 5px rgba(0, 0, 0, .4);
            @include transition-param(all, 0.4s, ease-in-out);
            #site-menu {
                li {
                    margin:10px 5px 5px 5px;
                    @include transition-param(all, 0.4s, ease-in-out);
                    .dropdown-menu { 
                        li {
                            margin: 5px; 
                        }       
                    }
                }
            }
        }
        &.affix-top { 
            .navbar-header .logo-banner {
                margin-top: 25px;
            }
            #site-menu {
                li {
                    margin:25px 5px 5px 5px;
                    .dropdown-menu { 
                        li {
                            margin: 5px; 
                        }       
                    }
                    @include transition-param(all, 0.4s, ease-in-out);
                }
            }
        }
        &.affix-bottom {
            position: absolute;
        }
        #site-menu {
            float: right;
            li {
                font-size: $sm-font-size;
                margin:10px 5px 5px 5px;
            }
        }
        .dropdown-menu li > a:hover {
            color:$clr-black;
        }
    }
    nav #site-menu li {
        a:after {
            display: block;
            position: absolute;
            bottom: 6px;
            width: 0;
            height: 2px;
            content: "";
            left:0;
            background: $clr-primary;
            @include transition-param(all, .2s);
        }
        ul li a:after {
            color: $clr-black; 
            background: none;
        }
    }
    .navbar .dropdown-menu .active > a { 
        background-color: $clr-white;
        color: $clr-black;
    }
    nav #site-menu li.active a:after {
        width: 100%
    }
}

/********/
/* Home */
/********/
#sitehomepage {
    padding-top: 0;
    display: block;
    text-align: center;
    height:100vh;
    background: url(/assets/img/main-photo-sm-blur.jpg) no-repeat center center fixed; 
    background-size: cover;
    background-attachment: scroll;
    z-index: 1;
    position: relative;
    &:before {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        visibility: visible;
        margin-top: 0;
        content: "";
        background: rgba(255, 255, 255, .68)
    }
    h1 { 
        color: $clr-primary;
        font-weight: 600;
    }
    .btn.btn-raised.btn-default { 
        margin-top: 30px;
        color: white;
        background-color: $clr-primary;
    }
    .centered {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
/**********/
/* About  */
/**********/
#about {
    top: 80px;
    a { 
        font-weight: 600;
    }
    .text-card {
        padding: 30px 30px 30px 30px;
        h1 {
            text-transform: uppercase; 
        }
    }
    .section-heading {
        h1 { 
            margin: 10px 0;
        }
    }
    .img-card img { 
        display: block;
        text-align: center;
        max-width: 100%;
        height: auto;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);   
    }
    a:hover { 
        color: $clr-dark-primary;
        border: 0; 
    }
    .img-card  { 
        min-height: 300px;
    } 
    .img-card.img-mission {
        & img { 
            min-height: 300px;
            max-height: 450px;
        }
    }
    .img-card.img-spec {
        & img { 
            padding: 20px 0;
            min-height: 300px;
            max-height: 450px;
        }
    }
    .img-card.img-collab {
        & img {
           min-height: 300px;
           max-height: 400px;
        }
    }
}


/*********/
/* Spec  */
/*********/
#spec, #spec-viewer {
    padding-bottom: 30px;
    a:hover { 
        color:$clr-dark-primary;
    }
    h1 { 
        margin-top: 75px;
    }
    .btn.btn-raised.btn-default { 
        margin-top: 5px;
        color: white;
        background-color: $clr-primary;
    }   
    ul { 
        margin-bottom: 0;
    }
}
#spec-viewer {
    a.paddedId {
        display: block;
        position: relative;
        top: -100px;
        visibility: hidden;
    }
    .section-heading { 
        padding-bottom: 10px;
        h2.sub-header { 
           text-align: center;
           font-size: $xl-font-size;
        }
        h2, a{ 
           text-align: left;
           font-size: $base-font-size;
        }
        h2 > a { 
            padding: 0;
        }
    }
    .section-content {
        h2, a {
            padding: 0 10px 0 10px;
        }
    }
    h3 { 

        margin-top: 30px;
    }
    h2 > a  { 
        font-size: $md-font-size;
    }
    td {
        a {
            padding: 0;
        }
        i {
            font-size: 12px;
        } 
    } 
}


/*********/
/* Evid  */
/*********/
// Most of this is under FAQ due to symmetry
#evid {
    .section-heading {
        padding-bottom: 25px;
    }
    a { 
        margin-left: 0!important;
    }
    li.evid-link p.citation{ 
        font-size: $xs-font-size;
        a { 
            font-size: $xs-font-size;
        }
    }
}


/*****************/
/* Contact       */
/*****************/
#contact {    
    p, h6 {
        margin: 20px 0 10px 0; 
    }
    p { 
        font-size: $sm-font-size;
    }
    a:hover { 
        color: $clr-dark-primary;
        border: 0; 
    }
    .icons { 
        margin: 10px 0px 30px 0px;
    }
    .section-content {
        padding: 10px 30px 10px 30px;
    }
    .section-heading {
        padding-bottom: 10px;
        p { 
            font-size: $base-font-size;
        }
    }
    .form-group.is-focused { 
        color: $clr-primary;
    }
    .elist {
        text-align: center;
        width: 450px;
        margin-left: auto;
        margin-right: auto;   
    }
    .elist-content { 
        padding: 0px 20px;
    }
    .btn:hover {
        border:0px;
    }
    .form-group.is-focused .form-control{ 
        background-image: linear-gradient(#295677, #295677), linear-gradient(#D2D2D2, #D2D2D2);
    }
    .form-group.has-error.is-focused .form-control{ 
        background-image:linear-gradient(#f44336, #f44336), linear-gradient(#D2D2D2, #D2D2D2);
    }
}


/**********/
/* FAQ    */
/**********/
#faq, #evid, #term {
    .section-heading { 
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 55px;
        p { 
            text-align: left; 
        }
    }
    *[id]:before {
      display: block;
      content: " ";
      margin-top: -80px;
      height: 80px;
      visibility: hidden;
    }

    #top {
        margin-bottom: 0px;
    }
    a:hover { 
        color: $clr-dark-primary;
        border: 0; 
    }
    h2.side-nav-title {
        padding-top:10px;
        margin-top:0px
    }
    .side-nav {
        width:300px;
        &.affix {
          top:95px;
        }
    }
    ul {
        list-style-type:none;
        padding-left:0;
        &:before {
            display: none;
        }
        li {
            font-weight:300;
            padding: 0px 35px 20px 35px;
            border-bottom:1px solid #ccc;
            a {
                margin-left:5px;
            }
            &:last-child {
                border-bottom:0;
            }
            .faq-answer { 
                a { 
                    font-weight: 600;
                    margin: 0;
                }
                a.back-to-top  { 
                    font-weight: 300;
                }
            }
        }
        li.evid-link { 
            border-bottom:0px;
            padding: 0px 0 0px 0px;
            &:first-child { 
                padding-top: 10px;
            }
            &:last-child { 
                padding-bottom: 15px;
            }
        }
    }
    ol {
        margin-top:20px;
    }
    ol>li {
        padding:0 0 10px 0;
        font-size: $sm-font-size;
        border-bottom-width:0;
    }
    .nav > .active {
        border-left:5px solid $clr-sndry;   
        a {
            margin-left:0
        }
    }
    ul.faq-nav, ul.evid-nav {
        position:relative;
        li {
            padding:3px 0;
            line-height:1.25em;
        }
    }
    p.title {    
        color: $clr-primary;
        font-weight: 600;
        margin:15px 0;
    }
    .side-nav {
        &.affix {
            position: fixed!important;
        }
        &.affix-top { 
            position: absolute!important;
        }
        &.affix-bottom {
            position: absolute !important;
        }
    }
}

/*****************/
/* Collaborative */
/*****************/
#collaborative { 
    a { 
        font-weight: 600;
    }
    padding-bottom: 30px;
    .side_img { 
        padding-top: 25px;
        width:70%;
    }
    .section-heading { 
        padding-bottom: 0px;
        h1 { 
            margin-top: 75px;
            margin-bottom: 0px;
        }
    }
    .section-content { 
        padding: 20px 30px;
        margin-top: 40px;
        margin-bottom: 40px; 
    }
    .panel { 
        .section-heading { 
            padding-bottom: 0px;
            h1 { 
                text-align: left;
                padding: 20px 30px;
                margin-top: 0px;
            }
        }
        .section-content { 
            margin-top: 10px;
        }
    }
    li { 
        font-size: $sm-font-size;
    }       
}


/**********/
/* Footer */
/**********/
footer {    
    background-color: $clr-primary;
    p.copyright{
        padding-top:0px;
        margin: 0px 15px 20px 15px;
        font-size: $xs-font-size;
        color: $clr-white;
        text-align: left;
        float:left;
    }
    ul { 
        padding: 30px 0 15px 15px;
    }
    a { 
        padding-left: 0px;
        font-size: $xs-font-size;
        color: $clr-white;
        &:hover { 
            color: $clr-white;
            border: 0; 
        }
    }
    p.logo {
        padding: 35px 0 15px 15px;
    }
}


/**********************/
/* Responsive Styling */
/**********************/
@media(max-width: 1199px) { 
    #collaborative { 
        .side_img { 
            width: 176.5px;
        }
    }
    footer { 
        a { 
            font-size: $ft-link-size;
        }
    }
}

@media (max-width: 992px) {    
    .buffer { 
       display:block;
       height:115px;         /* this is the height of your header */
       margin-top:-115px;    /* this is again negative value of the height of your header */
       visibility:hidden;
    }
    #about { 
        .section-heading { 
            padding-bottom: 45px;
            h1 { 
                font-size: $xxl-font-size;
            }
        }
        h1 { 
            margin: 0 60px;
        }
        .text-card { 
            min-height: 300px;
        }
        .img-card, .img-card img{ 
            min-height: 450px;
            max-width: 100%;
            max-height: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        .img-card.img-mission {
            min-height: 400px;
            & img { 
                min-height: 200px;
                max-height: 400px;
            }
        }
        .img-card.img-spec {
            min-height: 400px;
            & img { 
                max-height: 400px;
            }
        }
        .img-card.img-collab {
            min-height: 400px;
            & img {
                max-height: 400px;
            }
        }
    }
    #contact { 
        .section-heading { 
            padding-bottom: 25px;
            h1 { 
                font-size: $xxl-font-size;
            }
        }
    }
    #spec, #spec-viewer {
        h1, h2 { 
            padding: 0 8px;
        }
        h2 { 
            font-size: $lg-font-size;
        }
        .pane {
            &.ec, &.pc { 
                h2 { 
                    padding: 0 0;
                }
            }
            &.sv { 
                h2 { 
                    padding: 0 20px 0 20px
                }
            }
        }
    }
    #faq, #evid, #term{
        section {
            padding-top: 100px;
            margin-bottom: 0px;
        }
       .side-nav {
            width: 240px;
        }
    }
    #collaborative { 
        .section-content { 
            padding-left: 20px;
            padding-right: 20px;
        }
        a { 
            text-align : center;
        }
        #first-section { 
            padding-top: 40px;
        }
        .side_img { 
            margin-left:auto;
            margin-right:auto;
            display:block;
            width: 100%;
            max-width: 225px;
            text-align: center;
        }
    }
    #spec-viewer { 
        h2 {
            font-size: $base-font-size;
        }
        .section-heading { 
            padding-bottom: 5px;
            h1 { 
                font-size: $xl-font-size;
            }
            h2, a{ 
               font-size: $sm-font-size;
            }
        }
    }
}

@media (max-width: 767px) {     
    /* Generic */
    .img-card { 
        height:100%;
        min-height: 400px;
    }
    h1 { 
        font-size: $xl-font-size;
    }
    h2 { 
        font-size: $lg-font-size;
    }
    h3{
        font-size: $md-font-size;
    }

    header nav.navbar {
        background-color: $clr-white-hvr;
        box-shadow: 0 0 5px rgba(0, 0, 0, .4);
        @include transition-param(all, 0.4s, ease-in-out);
        #site-menu { 
            width: 500px;
            padding-left: 243px;
        }
        .navbar-header .logo-banner { 
            vertical-align: middle;
            position: relative;
            display: block;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
            width: 90px;
            height: 70px;
        }
        .navbar-header a img {
            left: 0px;
        }
        &.affix-top { 
            .navbar-header .logo-banner { 
                margin-top: 10px;
            }
            .navbar-header a img {
                width: $logo-scrolled-sm;
            }
        }
        &.affix { 
            .navbar-header a img {
                width: $logo-scrolled-sm;
            }
        }
        &.affix #site-menu, &.affix-top #site-menu {
            li {
                margin:0 5px 0 5px;
            }
            li a {
                font-size: $xs-font-size;
            }
        }
    }
    #sitehomepage {
        .centered {
            width: 100%;
            padding-left: 33px;
            padding-right: 33px;
        }
    }
    #about { 
        h1 { 
            margin: 0 12px;
        }
        .img-card, .img-card img{ 
            max-width: 100%;
            max-height: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        .img-card.img-mission, .img-card.img-collab, .img-card.img-spec {
            min-height: 300px;
            & img { 
                min-height: 200px;
                max-height: 300px;
            }
        }
    }
    #spec,  #spec-viewer{
        .panel-body { 
            padding: 15px;
        }
        .pane {
            &.sv { 
                margin-top: 0;
            }
        }
    }
    #faq, #evid, #term {
        #top {
            margin-bottom: 0px;
        }
        .section-heading{ 
            padding-bottom: 20px;
        }
        h2.side-nav-title {
            display:none;
        }
        h3 {
            margin: 50px; 
        }
        .side-nav {
            font-size:$sm-font-size;
            width:100%;
            &.affix {
                top:0px;
            }
        }
        ul.faqs li#faq1:before, ul.evids li#evid1:before {
            display: block;
            content: " ";
            margin-top: -120px;
            height: 120px;
            visibility: hidden;
        }
        ul.faq-nav > li, ul.evid-nav > li{
            margin: 0;  
            padding: 0 10px 0 10px;  
        }
        hr {
            margin: 40px auto 70px auto;
            border: 0;
            width: 60vw;
            height: 1px;
            text-align: center;
            border-top: 1px solid $clr-sndry;
            &:after {
                content: ""; 
                display: block;
                height: 1px;
                width: 40vw;
                margin: 10px auto;
                background: $clr-sndry;
            }
        }
        .side-nav { 
            &.affix, &.affix-top,  &.affix-bottom { 
                position: relative!important;
            }
        }
    }
    // #evid { 
    //     h2.side-nav-title {
    //         text-align: center;
    //         display:block;
    //     }
    // }
    #contact {
        .section-content {
            padding: 0 30px 10px 30px;
        }
        p.logo { 
            text-align: center;
        }
        .elist {
            width: 375px;
        }
    }
    footer {
        p.copyright { 
            margin: 0px 20px 20px 20px;
        }
        .links { 
            width: 300px;
            display: block;
            padding: 0;
            margin-right: auto;
            margin-left: auto;
        }
        .landing-links {
            width: 50%;
        }   
        .sister-links {
            width: 50%;
            margin: 0;
        }
        p.logo { 
            a { 
                padding: 0;
            }
            padding: 0 0 10px 0 ;
            text-align: center;
        }
    }
}

@media (max-width : 480px) { 
    #about { 
        .section-heading { 
            h1 { 
                font-size: $xl-font-size;
            }
        }
    }
    p {
        font-size: $sm-font-size;
    } 
    #sitehomepage {
        .centered {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    #about { 
        h1 { 
            font-size: $xl-font-size;
        }
        h2 { 
            font-size: $lg-font-size;
        }
    }
    #evid {
        h3 {
            margin: 0 20px; 
        }
    }
    #contact {
        .elist-description { 
            display:none;
        }
        .elist {
            width: 250px;
        }
    }
}

@media (max-width : 375px) { 
    #sitehomepage {
        .btn.btn-raised.btn-default { 
            margin: 20px 10px 0 10px;
            color: white;
            background-color: $clr-primary;
        }
    }
    #snackbar-container {
        p, a{
            font-size: $xs-font-size;
        }
    }
}
