/*************/
/* SCSS Vars */    
/*************/
$base-font-size: 16px;
$xxl-font-size:  $base-font-size * 2.15;
$xl-font-size:   $base-font-size * 1.77;
$lg-font-size:   $base-font-size * 1.46;
$md-font-size:   $base-font-size * 1.23;
/* base-font-size */
$sm-font-size:   $base-font-size * 0.85;
$xs-font-size:   $base-font-size * 0.70;
$ft-link-size:   $base-font-size * 0.62;
$xxs-font-size:  $base-font-size * 0.5;


$clr-grey: #dddddd;
$clr-light-grey:#f9f9f9;
$clr-light-grey-b: #f1f1f1;
$clr-dark-grey: #494949;

$clr-white: #ffffff;
$clr-white-transparent: #ffffffd9;
$clr-white-hvr: rgba(255, 255, 255, 0.901961);

$clr-black: #000;

$clr-blue: #295677;
$clr-dark-blue: #052A45;

$clr-orange: #F5A623;
$clr-light-orange: #ffe5ba;

$clr-background: $clr-white;
$clr-background-transparent: $clr-white-transparent;
$clr-primary: $clr-blue;
$clr-dark-primary: $clr-dark-blue;
$clr-sndry: $clr-orange;
$clr-light-sndry: $clr-light-orange;