
/*******************/
/* Generic styling */
/*******************/
h1, h2, h3, h4 , h5 , h6, p, li, a, input{     
    font-family: 'Roboto', sans-serif;
    color: $clr-black;
}
html, body {
    font-weight: regular;
    overflow-x: hidden;
    background-color: $clr-background;
}
body {     
    visibility: "hidden";
}
html { 
    height: 100%;
}
section { 
    padding-top: 30px;
}
h1 {
    font-size: $xxl-font-size;
}
h2 {
    font-size: $xl-font-size;
}
h3{
    font-size: $lg-font-size;
}
p, a {
    font-size: $base-font-size;
} 
a { 
    color: $clr-primary;
    font-size: $base-font-size;
    &:focus{
        color: $clr-dark-primary;
        border: 0; 
    }
    &:hover{
        color: $clr-dark-primary;
        border: 0; 
    }
}
.rwd-break { 
    display: inline;
}

header { 
    #header-image { 
        position: relative; 
        width: 100vw;
        #header-image-source {
            height: 200px;
            width: 100vw;
        }
    }

    #header-content { 
        background-color: $clr-background-transparent;
        position: absolute; 
        top: 25px; 
        right: 11vw; 
        width: 80vw; 
        img#shr-logo-header { 
            float: left;
            padding: 10px;
            height: 120px;
        }
        img#icare-logo { 
            height: 40px;
        }
        #header-title { 
            text-align: right;
            padding: 23px 20px;
            h1 { 
                font-weight: bolder;
                color: $clr-primary;
            } 
            p { 
                font-size: $md-font-size;
                font-weight: bold;
                margin-bottom: 0;
            }
        }
    }
}

section#overview { 
    #overview-section-heading h1 {
        color: $clr-primary; 
        font-weight: bold;
        padding: 0px 0 20px 0;
    }
    .curve { 
          width: 20%; height: auto;
          min-width: 150px;
          float: right;
          border-radius: 50%;
          -webkit-shape-outside:circle();
          shape-outside:circle();
    }
}

section#goals { 
    #goal-section-heading { 
        text-align: center;
        h1 { 
            padding: 5px 0;
            background: $clr-sndry;
            text-align: center;
            color: white;
            font-weight: bold;
        }
        h3 { 
            background: $clr-light-sndry;
            color: $clr-dark-grey;
            margin: 10px 0;
            padding: 5px;
            font-style: italic;
        }
    }
    #goal-section-texts { 
        margin-bottom: 10px;
        .goal-text-heading {
            margin-bottom: 10px;
            font-weight: bold;

            // font-size:  $md-font-size;
            // background-color: $clr-dark-grey;
            // color: $clr-background;
            // text-align: center;
            // font-weight: bold; 
            // padding: 5px;        
        }
    }
    #goal-section-icons { 
        &:before { 
            content:''; 
            width:80%; 
            left: 10%;
            right: 10%;
            margin-bottom: 10px;
            height:2px; 
            background:$clr-light-sndry; 
            position:absolute; 
        }
        .goal-icon-obj:first-child { 
            padding-top:10px
        }
        .goal-icon { 
            line-height: 1;
            float: left;
            margin-right: 10px;
            top: 50%
        }
        .goal-icon-text { 
            font-weight: bold;
            padding: 5px;
            margin: 22px 0 22px 20px;
            color: $clr-primary;
            background-color: $clr-light-grey;
        }
    }
}

section#approach { 
    #approach-section-heading {
        text-align: center;
        h1 { 
            padding: 5px 0;
            background: $clr-sndry;
            text-align: center;
            color: white;
            font-weight: bold;
        }
        h3 { 
            background: $clr-light-sndry;
            color: $clr-dark-grey;
            margin: 10px 0;
            padding: 5px;
            font-style: italic;
        }
    }
    #approach-diagram { 
        width: 100%;
    }
}

section#links { 
    h1 { 
        font-weight: bold;
        color: $clr-primary;
        margin-bottom: 20px;
    }
    .icon { 
        display: inline-block;
        padding: 20px 10px 20px 0;
    } 
    .website, .contact { 
        .contact-info { 
            display: inline-block;
            .contact-heading { 
                font-weight: bold;
                margin-bottom: 0;
            }
        }
        .website-info { 
            display: inline-block;
            .website-heading { 
                font-weight: bold;
                margin-bottom: 0;
            }
        }
    }
}

section#partners { 
    h2.titlebox
    {
      position: relative;
      z-index: 1;
      text-align:center;
      // font-style: italic;
      font-weight: bold;
    }
    h2.titlebox::before
    {
      border-top: 2px solid $clr-grey;
      content:"";
      width:80%; 
      left: 10%;
      right: 10%;
      position: absolute; 
      top: 50%;
      z-index: -1;
    }
    h2.titlebox span
    {
      background: #fff; 
      padding: 0 10px; 
    } 
    #partners-container{
        .partner-logo { 
            height:auto; width: 210px;
            display: block;
            margin: auto; 
            padding: 30px;  
            padding-left: 20px;
            padding-right: 20px;
            &.short {
                height:auto; width: 250px;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}

footer #footer-container { 
    &:before { 
        content:''; 
        left: 10%;
        right: 10%;
        width:80%; 
        height:2px; 
        background:$clr-grey; 
        position:absolute; 
    }
    #footer-row { 
        padding:30px 0px;
    }
    #shr-footer {  
        img#shr-logo-footer { 
            float: left;
            padding: 10px;
            height: 100px;
        }
        #shr-text { 
            display: inline-block;
            margin-top: 30px;
            p { 
                margin-bottom: 0;
                &.shr-title { 
                    font-weight: bolder;
                    color: $clr-primary;
                }
            }
        }
    }
    #mitre-logo { 
        width: 150px;
        display: block;
        margin: auto;
    }
}
// To handle super-wide screens
@media (min-width: 1475px) { 
    header { 
        div#header-content { 
            right: 16vw;
            width: 70vw;
        }
    }
}


// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) { 

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) { 
    .rwd-break { 
        display: none;
    }
    section#overview { 
        .curve { 
            width: 33%
        }
    }
    section#goals { 
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) { 
    section#goals { 
        #goal-section-heading { 
            h3 { 
                padding-right: 20px;
                padding-left: 20px;
            }
        }
        #goal-section-icons { 
            .goal-icon-text { 
                &.long { 
                    margin: 10px 0 10px 20px;   
                }
            }
        }
    }
    footer #footer-container { 
        #shr-footer {  
            img#shr-logo-footer { 
                height: 80px;
            }
            #shr-text { 
                margin-top: 20px;
                p { 
                    font-size: $sm-font-size;
                }
            }
        }
        #mitre-logo { 
            width: 135px;
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { 
    section { 
        padding-right: 10px;
        padding-left: 10px;
    }
    h1 {
        font-size: $xl-font-size;
    }
    h2 {
        font-size: $lg-font-size;
    }
    h3{
        font-size: $md-font-size;
    }
    p, a {
        font-size: $sm-font-size;
    }
    header { 
        #header-content { 
            top: 15px; 
            img#shr-logo-header { 
                height: 80px;
            }
            img#icare-logo { 
                height: 30px;
            }
            #header-title { 
                text-align: right;
                padding: 10px 20px;
                p { 
                    margin-right: -10px;
                    margin-left: -10px;
                }
            }
        }
    }

    section#overview { 
        .curve { 
            display: none;        
        }
    }
    section#goals { 
        #goal-section-heading { 
            h3 { 
                padding-right: 20px;
                padding-left: 20px;
            }
        }
        #goal-section-icons { 
            .goal-icon { 
                margin: 10px 0;
            }
            .goal-icon-text { 
                display: flex;
                justify-content: center;
                flex-direction: column;
                background-color: $clr-background;
                margin: 10px 0;
                &.short { 
                    margin: 30px 0;
                }
                &.long { 
                    margin: 20px 0;
                }
            }
        }
    }
    section#links { 
        #learn-more { 
            padding-top: 30px;
        }
        .website, .contact { 
            margin-left: 30px;
            margin-right:30px;
        }
    }
    section#partners #partners-container{ 
        #partners-row { 
            padding: 20px 50px;
            .partner-logo { 
                width: 180px;
                &.short { 
                    width: 210px;
                }
            }
        }
    }
    footer #footer-container { 
        #footer-row {
            padding: 20px 0;
        }
        #shr-footer {  
            img#shr-logo-footer { 
                height: 100px;
                padding: 0;
                display: block;
                float:none; 
                margin: auto;
                margin-bottom: 5px;
            }
            #shr-text { 
                text-align: center;
                margin-top: 0;
                display: block; 
                margin: auto;
            }
        }
        #mitre-logo { 
            width: 135px;
            padding: 20px 0 0 0;
        }
    }
}

@media (max-width: 435px) { 
    header { 
        #header-content { 
            top: 10px; 
        }
        #header-title { 
            p { 
                margin-right: -15px;
                margin-left: -15px;
            }
        }
    }
}
@media (max-width: 390px) {   
    header { 
        #header-content { 
            img#shr-logo-header { 
                height: 57px;
            }
        }  
    }
    section#goals { 
        #goal-section-icons { 
            .goal-icon-text { 
                &.short { 
                    margin: 20px 0;
                }
                &.shortest { 
                    margin: 25px 0;
                }
            }
        }
    }
    section#links { 
        .website, .contact { 
            margin-left: 15px;
            margin-right:15px;
        }
    }
}
