<section id="spec-viewer">
	<div class="section-heading">
	    <h1>
	        The SHR Specification
	    </h1>
	    <h2>
	        The Standard Health Record is a rapidly evolving specification under active development. Ultimately, an
	        individual's SHR will consist of a series of entries relevant to the health of that person. The entries are
	        divided among the categories below, and each <a href="/shr/base/#Entry">entry</a> always includes basic
	        information about itself (e.g. who created it and when). Click on the entries below to explore details of the
	        Standard Health Record. Go to <a href="https://github.com/standardhealth" style="font-weight: 600;">the SHR
	        GitHub</a> or <a href="mailto:shr-project-list@lists.mitre.org" style="font-weight: 600;">email the
	        collaborative</a> to get involved.
	    </h2>
	</div>
	<div class="container">
	    <div class="row">
	        <div class="col-md-4 col-md-push-4 col-sm-4 col-sm-push-4">
	            <form id="search-form" class="form-group">
	                <div class="input-group">
	          <span class="input-group-btn">
	            <button class="btn btn-primary" aria-label="Click to Search SHR" id="searchSubmitButton"><span
	                    class="fa fa-search" aria-hidden="true"></span></button>
	          </span>
	                    <div id="search">
	                        <input id="search-input" class="typeahead form-control" type="text"
	                               placeholder="Search SHR Elements">
	                    </div>
	                </div>
	            </form>
	        </div>
	    </div>
	</div>
	<div class="section-content">
	    <div class="container">
	                    <div class="row">
	                      <h2><a href="/shr/actor">Actor</a></h2>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/actor#EmergencyContact">EmergencyContact</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/actor#NoPrimaryCareProvider">NoPrimaryCareProvider</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/actor#PrimaryCareProvider">PrimaryCareProvider</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/actor#ProviderRelationship">ProviderRelationship</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="row">
	                      <h2><a href="/shr/adverse">Adverse</a></h2>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/adverse#AdverseReaction">AdverseReaction</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="row">
	                      <h2><a href="/shr/allergy">Allergy</a></h2>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/allergy#AllergyIntolerance">AllergyIntolerance</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/allergy#DrugAllergy">DrugAllergy</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/allergy#FoodAllergy">FoodAllergy</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/allergy#NoKnownAllergy">NoKnownAllergy</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/allergy#NoKnownDrugAllergy">NoKnownDrugAllergy</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/allergy#NoKnownEnvironmentalAllergy">NoKnownEnvironmentalAllergy</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/allergy#NoKnownFoodAllergy">NoKnownFoodAllergy</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="row">
	                      <h2><a href="/shr/behavior">Behavior</a></h2>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/behavior#AlcoholUse">AlcoholUse</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/behavior#DietAndNutrition">DietAndNutrition</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/behavior#IntravenousDrugUse">IntravenousDrugUse</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/behavior#NicotineUse">NicotineUse</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/behavior#ONCSmokingStatus">ONCSmokingStatus</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/behavior#PhysicalActivityLevel">PhysicalActivityLevel</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/behavior#ReligiousPractice">ReligiousPractice</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/behavior#SleepQuality">SleepQuality</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/behavior#SubstanceAbuseTreatment">SubstanceAbuseTreatment</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/behavior#SubstanceUse">SubstanceUse</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/behavior#ViolentBehaviorRisk">ViolentBehaviorRisk</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="row">
	                      <h2><a href="/shr/demographics">Demographics</a></h2>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/demographics#HealthInsurance">HealthInsurance</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/demographics#PersonOfRecord">PersonOfRecord</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="row">
	                      <h2><a href="/shr/device">Device</a></h2>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/device#DeviceUse">DeviceUse</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="row">
	                      <h2><a href="/shr/encounter">Encounter</a></h2>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/encounter#Encounter">Encounter</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="row">
	                      <h2><a href="/shr/environment">Environment</a></h2>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/environment#AnnualIncome">AnnualIncome</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/environment#EnvironmentalExposuresPanel">EnvironmentalExposuresPanel</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/environment#ExposureToSubstance">ExposureToSubstance</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/environment#HouseholdSituationPanel">HouseholdSituationPanel</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/environment#SocialEnvironmentPanel">SocialEnvironmentPanel</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="row">
	                      <h2><a href="/shr/immunization">Immunization</a></h2>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/immunization#Immunization">Immunization</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/immunization#ImmunizationAdministered">ImmunizationAdministered</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/immunization#ImmunizationNotGiven">ImmunizationNotGiven</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="row">
	                      <h2><a href="/shr/lab">Lab</a></h2>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/lab#HIVScreeningTest">HIVScreeningTest</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/lab#HIVScreeningTestRequest">HIVScreeningTestRequest</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/lab#HIVSupplementalTest">HIVSupplementalTest</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/lab#HIVSupplementalTestRequest">HIVSupplementalTestRequest</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/lab#TestRequest">TestRequest</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="row">
	                      <h2><a href="/shr/lifehistory">Lifehistory</a></h2>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/lifehistory#CongenitalAbnormalities">CongenitalAbnormalities</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/lifehistory#EducationalAttainment">EducationalAttainment</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/lifehistory#Employment">Employment</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/lifehistory#MilitaryService">MilitaryService</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/lifehistory#Occupation">Occupation</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/lifehistory#PrenatalExposure">PrenatalExposure</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/lifehistory#Travel">Travel</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="row">
	                      <h2><a href="/shr/medication">Medication</a></h2>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/medication#MedicationChange">MedicationChange</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/medication#MedicationNotAdministered">MedicationNotAdministered</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/medication#MedicationNotPrescribed">MedicationNotPrescribed</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/medication#MedicationPrescription">MedicationPrescription</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/medication#MedicationUse">MedicationUse</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="row">
	                      <h2><a href="/shr/observation">Observation</a></h2>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/observation#CodeableConceptObservation">CodeableConceptObservation</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/observation#Observation">Observation</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/observation#Panel">Panel</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="row">
	                      <h2><a href="/shr/problem">Problem</a></h2>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/problem#AcademicProblem">AcademicProblem</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/problem#Asplenia">Asplenia</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/problem#Injury">Injury</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/problem#MentalHealthProblem">MentalHealthProblem</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/problem#Problem">Problem</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="row">
	                      <h2><a href="/shr/sex">Sex</a></h2>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/sex#ContraceptiveMethodRecommendation">ContraceptiveMethodRecommendation</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/sex#ContraceptiveMethodsUsed">ContraceptiveMethodsUsed</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/sex#PregnancyHistory">PregnancyHistory</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/sex#PregnancyIntention">PregnancyIntention</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/sex#SexualBehavior">SexualBehavior</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/sex#SexualIdentity">SexualIdentity</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="row">
	                      <h2><a href="/shr/skin">Skin</a></h2>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/skin#PressureUlcer">PressureUlcer</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/skin#PressureUlcerManifestation">PressureUlcerManifestation</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/skin#PressureUlcerNotPresent">PressureUlcerNotPresent</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="row">
	                      <h2><a href="/shr/vital">Vital</a></h2>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/vital#BloodPressure">BloodPressure</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/vital#BodyHeight">BodyHeight</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/vital#BodyLength">BodyLength</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/vital#BodyMassIndex">BodyMassIndex</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/vital#BodyTemperature">BodyTemperature</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/vital#BodyWeight">BodyWeight</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/vital#HeadCircumference">HeadCircumference</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/vital#HeartRate">HeartRate</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                        <div class="col-md-4"> 
	                            <ul class="spec-data-element-list">
	                                  <li class="spec-data-element">
	                                    <a href="/shr/vital#OxygenSaturation">OxygenSaturation</a><br>
	                                  </li>
	                                  <li class="spec-data-element">
	                                    <a href="/shr/vital#RespiratoryRate">RespiratoryRate</a><br>
	                                  </li>
	                            </ul>
	                        </div>
	                    </div>
	    </div>
	</div>
	
</section>