<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Standard Health Record Entries</title>
  <link rel="stylesheet" href="shr-github-markdown.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
      thead, th {display: none;}
      .markdown-body {
          box-sizing: border-box;
          min-width: 200px;
          max-width: 980px;
          margin: 0 auto;
          padding: 45px;
      }
  </style>
</head>
<body class="markdown-body">
<h1>Standard Health Record</h1>
<div class="row">
<h2><a href="shr/actor/index.html#">Actor</a></h2>
<div class="col-md-4">
<ul>
<li><a href="shr/actor/index.html#HealthcareInvolvement">HealthcareInvolvement</a></li>
</ul>
</div>
</div>
<div class="row">
<h2><a href="shr/adverse/index.html#">Adverse</a></h2>
<div class="col-md-4">
<ul>
<li><a href="shr/adverse/index.html#AdverseReaction">AdverseReaction</a></li>
</ul>
</div>
</div>
<div class="row">
<h2><a href="shr/allergy/index.html#">Allergy</a></h2>
<div class="col-md-4">
<ul>
<li><a href="shr/allergy/index.html#AllergyIntolerance">AllergyIntolerance</a></li>
</ul>
</div>
<div class="col-md-4">
<ul>
<li><a href="shr/allergy/index.html#FoodAllergy">FoodAllergy</a></li>
</ul>
</div>
<div class="col-md-4">
<ul>
<li><a href="shr/allergy/index.html#NoKnownAllergyIntolerance">NoKnownAllergyIntolerance</a></li>
</ul>
</div>
</div>
<div class="row">
<h2><a href="shr/base/index.html#">Base</a></h2>
<div class="col-md-4">
<ul>
<li><a href="shr/base/index.html#ShrHeader">ShrHeader</a></li>
</ul>
</div>
<div class="col-md-4">
<ul>
<li><a href="shr/base/index.html#TestRequest">TestRequest</a></li>
</ul>
</div>
<div class="col-md-4">
<ul>
<li><a href="shr/base/index.html#TestResult">TestResult</a></li>
</ul>
</div>
</div>
<div class="row">
<h2><a href="shr/behavior/index.html#">Behavior</a></h2>
<div class="col-md-4">
<ul>
<li><a href="shr/behavior/index.html#AlcoholAbuse">AlcoholAbuse</a></li>
<li><a href="shr/behavior/index.html#DietAndNutrition">DietAndNutrition</a></li>
<li><a href="shr/behavior/index.html#Mood">Mood</a></li>
<li><a href="shr/behavior/index.html#PhysicalActivityLevel">PhysicalActivityLevel</a></li>
</ul>
</div>
<div class="col-md-4">
<ul>
<li><a href="shr/behavior/index.html#ReligiousPractice">ReligiousPractice</a></li>
<li><a href="shr/behavior/index.html#SleepQuality">SleepQuality</a></li>
<li><a href="shr/behavior/index.html#SubstanceAbuse">SubstanceAbuse</a></li>
<li><a href="shr/behavior/index.html#SubstanceAbuseTreatment">SubstanceAbuseTreatment</a></li>
</ul>
</div>
<div class="col-md-4">
<ul>
<li><a href="shr/behavior/index.html#TobaccoAbuse">TobaccoAbuse</a></li>
<li><a href="shr/behavior/index.html#ViolentBehaviorRisk">ViolentBehaviorRisk</a></li>
</ul>
</div>
</div>
<div class="row">
<h2><a href="shr/core/index.html#">Core</a></h2>
<div class="col-md-4">
<ul>
<li><a href="shr/core/index.html#SymptomReported">SymptomReported</a></li>
</ul>
</div>
</div>
<div class="row">
<h2><a href="shr/demographics/index.html#">Demographics</a></h2>
<div class="col-md-4">
<ul>
<li><a href="shr/demographics/index.html#AdministrativeGender">AdministrativeGender</a></li>
<li><a href="shr/demographics/index.html#DateOfBirth">DateOfBirth</a></li>
<li><a href="shr/demographics/index.html#DriversLicenseNumber">DriversLicenseNumber</a></li>
<li><a href="shr/demographics/index.html#FathersName">FathersName</a></li>
<li><a href="shr/demographics/index.html#HealthInsurance">HealthInsurance</a></li>
<li><a href="shr/demographics/index.html#Heritage">Heritage</a></li>
<li><a href="shr/demographics/index.html#HispanicOrign">HispanicOrign</a></li>
</ul>
</div>
<div class="col-md-4">
<ul>
<li><a href="shr/demographics/index.html#LanguageUsed">LanguageUsed</a></li>
<li><a href="shr/demographics/index.html#MaritalStatus">MaritalStatus</a></li>
<li><a href="shr/demographics/index.html#MedicalInterpreterNeeded">MedicalInterpreterNeeded</a></li>
<li><a href="shr/demographics/index.html#MothersMaidenName">MothersMaidenName</a></li>
<li><a href="shr/demographics/index.html#MultipleBirthOrder">MultipleBirthOrder</a></li>
<li><a href="shr/demographics/index.html#PartOfMultipleBirth">PartOfMultipleBirth</a></li>
<li><a href="shr/demographics/index.html#PassportNumber">PassportNumber</a></li>
</ul>
</div>
<div class="col-md-4">
<ul>
<li><a href="shr/demographics/index.html#PersonOfRecordName">PersonOfRecordName</a></li>
<li><a href="shr/demographics/index.html#PlaceOfBirth">PlaceOfBirth</a></li>
<li><a href="shr/demographics/index.html#PlaceOfResidence">PlaceOfResidence</a></li>
<li><a href="shr/demographics/index.html#SocialSecurityNumber">SocialSecurityNumber</a></li>
<li><a href="shr/demographics/index.html#Telecom">Telecom</a></li>
</ul>
</div>
</div>
<!---
<div class="row">

## [Device](shr/device/index.html#)

</div>

-->
<div class="row">
<h2><a href="shr/encounter/index.html#">Encounter</a></h2>
<div class="col-md-4">
<ul>
<li><a href="shr/encounter/index.html#Encounter">Encounter</a></li>
</ul>
</div>
</div>
<div class="row">
<h2><a href="shr/environment/index.html#">Environment</a></h2>
<div class="col-md-4">
<ul>
<li><a href="shr/environment/index.html#AbilityToAffordNecessities">AbilityToAffordNecessities</a></li>
<li><a href="shr/environment/index.html#AnimalExposure">AnimalExposure</a></li>
<li><a href="shr/environment/index.html#AnnualHouseholdIncome">AnnualHouseholdIncome</a></li>
<li><a href="shr/environment/index.html#CanAffordChildCare">CanAffordChildCare</a></li>
<li><a href="shr/environment/index.html#CanAffordClothing">CanAffordClothing</a></li>
<li><a href="shr/environment/index.html#CanAffordDentalCare">CanAffordDentalCare</a></li>
<li><a href="shr/environment/index.html#CanAffordFood">CanAffordFood</a></li>
<li><a href="shr/environment/index.html#CanAffordHousing">CanAffordHousing</a></li>
<li><a href="shr/environment/index.html#CanAffordMedication">CanAffordMedication</a></li>
</ul>
</div>
<div class="col-md-4">
<ul>
<li><a href="shr/environment/index.html#CanAffordTransportation">CanAffordTransportation</a></li>
<li><a href="shr/environment/index.html#CanAffordUtilities">CanAffordUtilities</a></li>
<li><a href="shr/environment/index.html#Coinhabitants">Coinhabitants</a></li>
<li><a href="shr/environment/index.html#DomesticViolenceAggressor">DomesticViolenceAggressor</a></li>
<li><a href="shr/environment/index.html#DomesticViolenceTarget">DomesticViolenceTarget</a></li>
<li><a href="shr/environment/index.html#HomeEnvironmentRisk">HomeEnvironmentRisk</a></li>
<li><a href="shr/environment/index.html#HouseholdSize">HouseholdSize</a></li>
<li><a href="shr/environment/index.html#HousingSecurity">HousingSecurity</a></li>
<li><a href="shr/environment/index.html#IncomeStability">IncomeStability</a></li>
</ul>
</div>
<div class="col-md-4">
<ul>
<li><a href="shr/environment/index.html#NonCashBenefit">NonCashBenefit</a></li>
<li><a href="shr/environment/index.html#NumberOfDependents">NumberOfDependents</a></li>
<li><a href="shr/environment/index.html#PerceivedEmotionalSafety">PerceivedEmotionalSafety</a></li>
<li><a href="shr/environment/index.html#PerceivedPhysicalSafety">PerceivedPhysicalSafety</a></li>
<li><a href="shr/environment/index.html#RecentIncomeReduction">RecentIncomeReduction</a></li>
<li><a href="shr/environment/index.html#TransportationAvailability">TransportationAvailability</a></li>
<li><a href="shr/environment/index.html#Travel">Travel</a></li>
</ul>
</div>
</div>
<div class="row">
<h2><a href="shr/familyhistory/index.html#">Familyhistory</a></h2>
<div class="col-md-4">
<ul>
<li><a href="shr/familyhistory/index.html#FamilyHistory">FamilyHistory</a></li>
</ul>
</div>
</div>
<div class="row">
<h2><a href="shr/immunization/index.html#">Immunization</a></h2>
<div class="col-md-4">
<ul>
<li><a href="shr/immunization/index.html#ImmunizationAdministered">ImmunizationAdministered</a></li>
<li><a href="shr/immunization/index.html#ImmunizationRecommended">ImmunizationRecommended</a></li>
</ul>
</div>
<div class="col-md-4">
<ul>
<li><a href="shr/immunization/index.html#ImmunizationRecommendedAgainst">ImmunizationRecommendedAgainst</a></li>
<li><a href="shr/immunization/index.html#ImmunizatonNotAdministered">ImmunizatonNotAdministered</a></li>
</ul>
</div>
</div>
<div class="row">
<h2><a href="shr/lab/index.html#">Lab</a></h2>
<div class="col-md-4">
<ul>
<li><a href="shr/lab/index.html#HIVRapidScreeningTestRequest">HIVRapidScreeningTestRequest</a></li>
<li><a href="shr/lab/index.html#HIVRapidScreeningTestResult">HIVRapidScreeningTestResult</a></li>
</ul>
</div>
<div class="col-md-4">
<ul>
<li><a href="shr/lab/index.html#HIVSupplementalTestRequest">HIVSupplementalTestRequest</a></li>
<li><a href="shr/lab/index.html#HIVSupplementalTestResult">HIVSupplementalTestResult</a></li>
</ul>
</div>
</div>
<div class="row">
<h2><a href="shr/lifehistory/index.html#">Lifehistory</a></h2>
<div class="col-md-4">
<ul>
<li><a href="shr/lifehistory/index.html#CongenitalAbnormalities">CongenitalAbnormalities</a></li>
<li><a href="shr/lifehistory/index.html#EducationalAttainment">EducationalAttainment</a></li>
<li><a href="shr/lifehistory/index.html#Employment">Employment</a></li>
</ul>
</div>
<div class="col-md-4">
<ul>
<li><a href="shr/lifehistory/index.html#EmploymentStatus">EmploymentStatus</a></li>
<li><a href="shr/lifehistory/index.html#ParticipationInProstitution">ParticipationInProstitution</a></li>
<li><a href="shr/lifehistory/index.html#PrenatalExposure">PrenatalExposure</a></li>
</ul>
</div>
<div class="col-md-4">
<ul>
<li><a href="shr/lifehistory/index.html#USMilitaryService">USMilitaryService</a></li>
</ul>
</div>
</div>
<div class="row">
<h2><a href="shr/medication/index.html#">Medication</a></h2>
<div class="col-md-4">
<ul>
<li><a href="shr/medication/index.html#MedicationChange">MedicationChange</a></li>
</ul>
</div>
<div class="col-md-4">
<ul>
<li><a href="shr/medication/index.html#MedicationNotAdministered">MedicationNotAdministered</a></li>
</ul>
</div>
<div class="col-md-4">
<ul>
<li><a href="shr/medication/index.html#MedicationTaken">MedicationTaken</a></li>
</ul>
</div>
</div>
<!---
<div class="row">

## [Problem](shr/problem/index.html#)

</div>

-->
<div class="row">
<h2><a href="shr/sex/index.html#">Sex</a></h2>
<div class="col-md-4">
<ul>
<li><a href="shr/sex/index.html#BirthSex">BirthSex</a></li>
<li><a href="shr/sex/index.html#ContraceptiveMethodRecommendation">ContraceptiveMethodRecommendation</a></li>
<li><a href="shr/sex/index.html#ContraceptiveMethodsUsed">ContraceptiveMethodsUsed</a></li>
</ul>
</div>
<div class="col-md-4">
<ul>
<li><a href="shr/sex/index.html#GenderIdentity">GenderIdentity</a></li>
<li><a href="shr/sex/index.html#PregnancyHistory">PregnancyHistory</a></li>
<li><a href="shr/sex/index.html#PregnancyIntention">PregnancyIntention</a></li>
</ul>
</div>
<div class="col-md-4">
<ul>
<li><a href="shr/sex/index.html#SexualIntercourseEver">SexualIntercourseEver</a></li>
<li><a href="shr/sex/index.html#SexualIntercourseWithinPastYear">SexualIntercourseWithinPastYear</a></li>
<li><a href="shr/sex/index.html#SexualOrientation">SexualOrientation</a></li>
</ul>
</div>
</div>
<div class="row">
<h2><a href="shr/vital/index.html#">Vital</a></h2>
<div class="col-md-4">
<ul>
<li><a href="shr/vital/index.html#BloodPressure">BloodPressure</a></li>
<li><a href="shr/vital/index.html#BodyHeight">BodyHeight</a></li>
<li><a href="shr/vital/index.html#BodyLength">BodyLength</a></li>
<li><a href="shr/vital/index.html#BodyMassIndex">BodyMassIndex</a></li>
</ul>
</div>
<div class="col-md-4">
<ul>
<li><a href="shr/vital/index.html#BodyTemperature">BodyTemperature</a></li>
<li><a href="shr/vital/index.html#BodyWeight">BodyWeight</a></li>
<li><a href="shr/vital/index.html#HeadCircumference">HeadCircumference</a></li>
<li><a href="shr/vital/index.html#HeartRate">HeartRate</a></li>
</ul>
</div>
<div class="col-md-4">
<ul>
<li><a href="shr/vital/index.html#OxygenSaturation">OxygenSaturation</a></li>
<li><a href="shr/vital/index.html#RespiratoryRate">RespiratoryRate</a></li>
</ul>
</div>
</div>

</body>
</html>