<section id="spec-viewer">
	<div class="section-heading">
	  <h1> 
	    The SHR Specification Viewer
	  </h1>
	  <h2>
	    The Standard Health Record is a rapidly evolving specification under active development. Ultimately, an individual's SHR will consist of a series of entries relevant to the health of that person. The entries are divided among the categories below, and each <a href="http://standardhealthrecord.org/shr/base/index.html#Entry">entry</a> always includes basic information about itself (e.g. who created it and when). Click on the data elements below to explore details of the Standard Health Record. Go to <a href="https://github.com/standardhealth" style="font-weight: 600;">the SHR GitHub</a> or <a href="mailto:shr-project-list@lists.mitre.org" style="font-weight: 600;">email the collaborative</a> to get involved.
	  </h2>
	</div>
	<div class="section-content">
	  <div class="container">
	              	<div class="row">
	              	  <h2><a href="/shr/Actor/index.html">Actor</a></h2>
	              	  <ul class="spec-data-element-list">
	              			<li class="spec-data-element">
	              			  <a href="/shr/Actor/index.html#EmergencyContact">EmergencyContact</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Actor/index.html#NoPrimaryCareProvider">NoPrimaryCareProvider</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Actor/index.html#PrimaryCareProvider">PrimaryCareProvider</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Actor/index.html#ProviderRelationshipStatement">ProviderRelationshipStatement</a><br>
	              			
	              			</li>
	              	  </ul>
	              	</div>
	              	<div class="row">
	              	  <h2><a href="/shr/Adverse/index.html">Adverse</a></h2>
	              	  <ul class="spec-data-element-list">
	              			<li class="spec-data-element">
	              			  <a href="/shr/Adverse/index.html#AdverseReactionStatement">AdverseReactionStatement</a><br>
	              			
	              			</li>
	              	  </ul>
	              	</div>
	              	<div class="row">
	              	  <h2><a href="/shr/Allergy/index.html">Allergy</a></h2>
	              	  <ul class="spec-data-element-list">
	              			<li class="spec-data-element">
	              			  <a href="/shr/Allergy/index.html#AdverseReactionRiskStatement">AdverseReactionRiskStatement</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Allergy/index.html#DrugAllergyStatement">DrugAllergyStatement</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Allergy/index.html#FoodAllergyStatement">FoodAllergyStatement</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Allergy/index.html#NoKnownAllergy">NoKnownAllergy</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Allergy/index.html#NoKnownDrugAllergy">NoKnownDrugAllergy</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Allergy/index.html#NoKnownEnvironmentalAllergy">NoKnownEnvironmentalAllergy</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Allergy/index.html#NoKnownFoodAllergy">NoKnownFoodAllergy</a><br>
	              			
	              			</li>
	              	  </ul>
	              	</div>
	              	<div class="row">
	              	  <h2><a href="/shr/Behavior/index.html">Behavior</a></h2>
	              	  <ul class="spec-data-element-list">
	              			<li class="spec-data-element">
	              			  <a href="/shr/Behavior/index.html#AlcoholUse">AlcoholUse</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Behavior/index.html#DietAndNutrition">DietAndNutrition</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Behavior/index.html#IntravenousDrugUseStatement">IntravenousDrugUseStatement</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Behavior/index.html#PhysicalActivityLevel">PhysicalActivityLevel</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Behavior/index.html#ReligiousPractice">ReligiousPractice</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Behavior/index.html#SleepQuality">SleepQuality</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Behavior/index.html#SmokingStatus">SmokingStatus</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Behavior/index.html#SubstanceAbuseTreatment">SubstanceAbuseTreatment</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Behavior/index.html#SubstanceUseStatement">SubstanceUseStatement</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Behavior/index.html#ViolentBehaviorRisk">ViolentBehaviorRisk</a><br>
	              			
	              			</li>
	              	  </ul>
	              	</div>
	              	<div class="row">
	              	  <h2><a href="/shr/Demographics/index.html">Demographics</a></h2>
	              	  <ul class="spec-data-element-list">
	              			<li class="spec-data-element">
	              			  <a href="/shr/Demographics/index.html#HealthInsurance">HealthInsurance</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Demographics/index.html#PersonOfRecord">PersonOfRecord</a><br>
	              			
	              			</li>
	              	  </ul>
	              	</div>
	              	<div class="row">
	              	  <h2><a href="/shr/Device/index.html">Device</a></h2>
	              	  <ul class="spec-data-element-list">
	              			<li class="spec-data-element">
	              			  <a href="/shr/Device/index.html#DeviceUseStatement">DeviceUseStatement</a><br>
	              			
	              			</li>
	              	  </ul>
	              	</div>
	              	<div class="row">
	              	  <h2><a href="/shr/Encounter/index.html">Encounter</a></h2>
	              	  <ul class="spec-data-element-list">
	              			<li class="spec-data-element">
	              			  <a href="/shr/Encounter/index.html#EncounterStatement">EncounterStatement</a><br>
	              			
	              			</li>
	              	  </ul>
	              	</div>
	              	<div class="row">
	              	  <h2><a href="/shr/Environment/index.html">Environment</a></h2>
	              	  <ul class="spec-data-element-list">
	              			<li class="spec-data-element">
	              			  <a href="/shr/Environment/index.html#AnimalExposureStatement">AnimalExposureStatement</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Environment/index.html#AnnualIncome">AnnualIncome</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Environment/index.html#CanAffordChildCare">CanAffordChildCare</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Environment/index.html#CanAffordClothing">CanAffordClothing</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Environment/index.html#CanAffordDentalCare">CanAffordDentalCare</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Environment/index.html#CanAffordFood">CanAffordFood</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Environment/index.html#CanAffordHousing">CanAffordHousing</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Environment/index.html#CanAffordMedication">CanAffordMedication</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Environment/index.html#CanAffordTransportation">CanAffordTransportation</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Environment/index.html#CanAffordUtilities">CanAffordUtilities</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Environment/index.html#DomesticViolenceAggressor">DomesticViolenceAggressor</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Environment/index.html#DomesticViolenceTarget">DomesticViolenceTarget</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Environment/index.html#HomeEnvironmentRisk">HomeEnvironmentRisk</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Environment/index.html#HouseholdComposition">HouseholdComposition</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Environment/index.html#HousingSecurity">HousingSecurity</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Environment/index.html#PerceivedEmotionalSafety">PerceivedEmotionalSafety</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Environment/index.html#PerceivedPhysicalSafety">PerceivedPhysicalSafety</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Environment/index.html#TransportationAvailability">TransportationAvailability</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Environment/index.html#Travel">Travel</a><br>
	              			
	              			</li>
	              	  </ul>
	              	</div>
	              	<div class="row">
	              	  <h2><a href="/shr/Immunization/index.html">Immunization</a></h2>
	              	  <ul class="spec-data-element-list">
	              			<li class="spec-data-element">
	              			  <a href="/shr/Immunization/index.html#ImmunizationAdministered">ImmunizationAdministered</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Immunization/index.html#ImmunizationRecommended">ImmunizationRecommended</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Immunization/index.html#ImmunizationRecommendedAgainst">ImmunizationRecommendedAgainst</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Immunization/index.html#ImmunizationRefused">ImmunizationRefused</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Immunization/index.html#ImmunizationStatement">ImmunizationStatement</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Immunization/index.html#ZostavaxImmunizationAdministered">ZostavaxImmunizationAdministered</a><br>
	              			
	              			</li>
	              	  </ul>
	              	</div>
	              	<div class="row">
	              	  <h2><a href="/shr/Lab/index.html">Lab</a></h2>
	              	  <ul class="spec-data-element-list">
	              			<li class="spec-data-element">
	              			  <a href="/shr/Lab/index.html#HIVScreeningTestRequest">HIVScreeningTestRequest</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Lab/index.html#HIVScreeningTestResult">HIVScreeningTestResult</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Lab/index.html#HIVSupplementalTestRequest">HIVSupplementalTestRequest</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Lab/index.html#HIVSupplementalTestResult">HIVSupplementalTestResult</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Lab/index.html#TestRequest">TestRequest</a><br>
	              			
	              			</li>
	              	  </ul>
	              	</div>
	              	<div class="row">
	              	  <h2><a href="/shr/Lifehistory/index.html">Lifehistory</a></h2>
	              	  <ul class="spec-data-element-list">
	              			<li class="spec-data-element">
	              			  <a href="/shr/Lifehistory/index.html#CongenitalAbnormalities">CongenitalAbnormalities</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Lifehistory/index.html#EducationalAttainment">EducationalAttainment</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Lifehistory/index.html#Employment">Employment</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Lifehistory/index.html#MilitaryService">MilitaryService</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Lifehistory/index.html#Occupation">Occupation</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Lifehistory/index.html#PrenatalExposure">PrenatalExposure</a><br>
	              			
	              			</li>
	              	  </ul>
	              	</div>
	              	<div class="row">
	              	  <h2><a href="/shr/Medication/index.html">Medication</a></h2>
	              	  <ul class="spec-data-element-list">
	              			<li class="spec-data-element">
	              			  <a href="/shr/Medication/index.html#MedicationChange">MedicationChange</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Medication/index.html#MedicationNotAdministered">MedicationNotAdministered</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Medication/index.html#MedicationNotPrescribed">MedicationNotPrescribed</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Medication/index.html#MedicationPrescribed">MedicationPrescribed</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Medication/index.html#MedicationStatement">MedicationStatement</a><br>
	              			
	              			</li>
	              	  </ul>
	              	</div>
	              	<div class="row">
	              	  <h2><a href="/shr/Observation/index.html">Observation</a></h2>
	              	  <ul class="spec-data-element-list">
	              			<li class="spec-data-element">
	              			  <a href="/shr/Observation/index.html#BehavioralHistory">BehavioralHistory</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Observation/index.html#BreathingAssessment">BreathingAssessment</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Observation/index.html#ExposureToSubstanceStatement">ExposureToSubstanceStatement</a><br>
	              			
	              			</li>
	              	  </ul>
	              	</div>
	              	<div class="row">
	              	  <h2><a href="/shr/Problem/index.html">Problem</a></h2>
	              	  <ul class="spec-data-element-list">
	              			<li class="spec-data-element">
	              			  <a href="/shr/Problem/index.html#AcademicProblem">AcademicProblem</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Problem/index.html#Asplenia">Asplenia</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Problem/index.html#Injury">Injury</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Problem/index.html#MentalHealthProblem">MentalHealthProblem</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Problem/index.html#ProblemStatement">ProblemStatement</a><br>
	              			
	              			</li>
	              	  </ul>
	              	</div>
	              	<div class="row">
	              	  <h2><a href="/shr/Sex/index.html">Sex</a></h2>
	              	  <ul class="spec-data-element-list">
	              			<li class="spec-data-element">
	              			  <a href="/shr/Sex/index.html#ContraceptiveMethodRecommendation">ContraceptiveMethodRecommendation</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Sex/index.html#ContraceptiveMethodsUsed">ContraceptiveMethodsUsed</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Sex/index.html#PregnancyHistory">PregnancyHistory</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Sex/index.html#PregnancyIntention">PregnancyIntention</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Sex/index.html#SexualBehavior">SexualBehavior</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Sex/index.html#SexualIdentity">SexualIdentity</a><br>
	              			
	              			</li>
	              	  </ul>
	              	</div>
	              	<div class="row">
	              	  <h2><a href="/shr/Vital/index.html">Vital</a></h2>
	              	  <ul class="spec-data-element-list">
	              			<li class="spec-data-element">
	              			  <a href="/shr/Vital/index.html#BloodPressure">BloodPressure</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Vital/index.html#BodyHeight">BodyHeight</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Vital/index.html#BodyLength">BodyLength</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Vital/index.html#BodyMassIndex">BodyMassIndex</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Vital/index.html#BodyTemperature">BodyTemperature</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Vital/index.html#BodyWeight">BodyWeight</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Vital/index.html#HeadCircumference">HeadCircumference</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Vital/index.html#HeartRate">HeartRate</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Vital/index.html#OxygenSaturation">OxygenSaturation</a><br>
	              			
	              			</li>
	              			<li class="spec-data-element">
	              			  <a href="/shr/Vital/index.html#RespiratoryRate">RespiratoryRate</a><br>
	              			
	              			</li>
	              	  </ul>
	              	</div>
	  </div>
	</div>
</section>